<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>마이페이지</title>
    <style>
        .container {
            width: 1200px;
            padding: 0;
        }

        .w_1 {
            width: 1200px;
            height: 100px;
        }

        .w_3 {
            width: 1200px;
            height: 30px;
        }

        .w_4 {
            width: 1200px;
        }

        .w_5 {
            width: 1200px;
            height: 40px;
        }

        .w_4 .table{
            text-align: center;
            margin-bottom: 50px;
        }
        .w_4 .table a{
            color : #F46B3F;
        }
        .w_4 .table a:hover{
            text-decoration: underline;
            color : black;
        }


        .btn-group .btn{
            color: #F46B3F;
            border: 1px solid #F46B3F;
        }
        .btn-group .btn:hover{
            background-color: #F46B3F;
            color: white;
        }
        .btn-check:active+.btn-outline-primary,
        .btn-check:checked+.btn-outline-primary,
        .btn-outline-primary:active{
            background-color: #F46B3F;
            border: 1px solid #F46B3F;
        }

        .page-link,
        .page-link:hover,
        .page-link:active,
        .page-link:focus{
            color: #F46B3F;
        }

    </style>
</head>
<body>
<header class="menu">
    <div class="bg-line"></div>
    <div class="logo-wrap">
        <img class="img" src="./../static/img/logo_main.png" alt="로고" />
    </div>
    <div class="item-list">
        <a href="./g-1_recommend.html">코스추천</a>
        <a href="h-1_communityMain.html">커뮤니티</a>
        <a href="./i-1_shopMain.html">쇼핑몰</a>
        <a href="./j-1_noticeMain.html">공지사항</a>
    </div>
    <div class="right">
        <div class="friend">
            <div class="icon-friend" onclick="handleToggleFriendDropBox()">
                <img class="img" src="./../static/img/icon_friends.png" />
            </div>
            <div class="friend-dropbox">
                <div class="search-area">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="닉네임 검색">
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn btn-primary search-btn">검색</button>
                    </div>
                </div>
                <ul class="friend-list">
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">1:1 채팅</button>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">1:1 채팅</button>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">1:1 채팅</button>
                        </div>
                    </li>
                </ul>
                <div class="line"></div>
                <p class="recommend-title">추천 친구</p>
                <ul class="friend-list">
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">친구 추가</button>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">친구 추가</button>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">친구 추가</button>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">친구 추가</button>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">친구 추가</button>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <div class="img-wrap">
                                <img class="img" src="./../static/img/icon_profile_default.png" />
                            </div>
                            <p class="name">오메가오메오메</p>
                            <button type="button" class="btn btn-link">친구 추가</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bell">
            <div class="icon-bell" onclick="handleToggleBellDropBox()">
                <img class="img" src="./../static/img/icon_bell.png" />
            </div>
            <div class="bell-dropbox">
                <p>알람</p>
                <ul>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                    <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
                </ul>
            </div>
        </div>
        <a id="my-profile" class="my-profile-wrap" href="./f-1_myPage.html">
<!--            <div class="img-wrap">-->
<!--                <img class="img" src="./../static/img/icon_profile_default.png "/>-->
<!--            </div>-->
<!--            <p class="text">나와바리나와바님</p>-->
        </a>
    </div>

</header>
<main class="container">
    <section class="">
        <!--   작업공간   -->
        <div class="w_1"></div>
        <div style="display: flex; align-items: center">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-right: 20px">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1" onclick="changeList(0)">내가 쓴 커뮤니티 글</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2" onclick="changeList(1)">내가 쓴 코스추천</label>
            </div>
<!--            <div style="margin-right: 20px">내가 참여한 크루 <b style="color : #F46B3F;">6</b>개</div>-->
<!--            <div>내가 만든 크루 <b style="color : #F46B3F">6</b>개</div>-->
        </div>

        <div class="w_3"></div>
        <!-- 메인 컨텐츠 -->
        <section class="content">
            <div class="select-like-div" style="display: flex; justify-content: space-between;">
                <!-- 좋아요 셀렉트박스 -->
                <div id="totalCount">
<!--                    <b>총 <span style="color: #F46B3F">100</span> 건&nbsp;</b>-->
                </div>
                <select
                    class="select-like form-serch-select form-select"
                    aria-label="Default select example"
                    style="width: 150px;"
                >
                    <option value="0">좋아요순</option>
                    <option value="1">날짜 순</option>
                </select>
            </div>
            <!-- 카드 -->
            <div class="article-wrap" style="width:1200px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px " id="postList">

            </div>
        </section>
        <!--   페이지네이션/작성버튼     -->
        <div class="wrap_4" style="position: relative; margin-bottom: 100px; margin-top: 50px">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#" onclick="getMyCommunityList(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="#" onclick="getMyCommunityList(1)">2</a></li>
                    <li class="page-item"><a class="page-link" href="#" onclick="getMyCommunityList(2)">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" onclick="getMyCommunityList(3)">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" onclick="getMyCommunityList(4)">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        </div>
    </section>
</main>
<script>
    const accessToken = localStorage.getItem("accessToken")
    $(document).ready(function () {
        $(".friend-dropbox").hide();
        $(".bell-dropbox").hide();
        getMyCommunityList(0);
        getMenuProfile()
    });

    function getMenuProfile(){
        var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
        var tempProfile = `
        <div class="img-wrap">
          <img class="img" style="width: 100%; height: auto" src=${menuProfile.profileImage} alt="프로필사진"/>
        </div>
        <p class="text">${menuProfile.sub}님</p>
    `
        $("#my-profile").append(tempProfile);
    }

    function handleToggleBellDropBox() {
        $(".bell-dropbox").toggle();
        $(".friend-dropbox").hide();
    }
    function handleToggleFriendDropBox() {
        $(".friend-dropbox").toggle();
        $(".bell-dropbox").hide();
    }

    function changeList(num){
        if (num == 0) getMyCommunityList(0);
        else if(num == 1) getMyRecommendList(0);
    }

    function getMyCommunityList(page){
        $("#postList").empty();
        $.ajax({
            type: "GET",
            contentType : "application/json",
            dataType	: "json",
            url: "http://localhost:8080/info/me/boards/communities?page=" + page + "&size=8",
            beforeSend: function (xlr) {
                xlr.setRequestHeader("Authorization", accessToken)
            },
            success: function (response) {
                console.log("커뮤니티 response : ", response);
                for (let i=0; i<response.data.length; i++){
                    console.log("response.data[i] : ", response.data[i])
                    var temp = `
                        <a href="h-2_communityDetail.html" class="article" style="text-decoration: none; color: #000000">
                            <div class="img-wrap" style="width: 100%; height: 176px; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                                <img style="width: 100%" src=${response.data[i].imgList[0]} alt="산 이미지" />
                            </div>
                            <div class="text-wrap" style="font-size: 14px;">
                                <p style="margin-bottom: 10px; width: 90%">${response.data[i].title}</p>
                                <div style="display: flex;">
                                    <div class="img-wrap" style="width:18px; height: 18px; margin-right: 5px; display: flex; justify-content: center; align-items: center; overflow: hidden">
                                        <img style="width: 100%" src="/static/img/heart.png" alt="좋아요 하트" />
                                    </div>
                                    <p style="margin-bottom: 0; font-size: 14px;">${response.data[i].communityLikeCnt.toString()}</p>
                                </div>
                            </div>
                        </a>
                    `
                    $("#postList").append(temp);
                }
                $("#totalCount").empty();
                var tempTotalCount = `
                  <b>총 <span style="color: #F46B3F">${response.totalCount}</span> 건</b>
                `
                $("#totalCount").append(tempTotalCount)

            }
        });
    }

    function getMyRecommendList(page){
        $("#postList").empty();
        $.ajax({
            type: "GET",
            contentType : "application/json",
            dataType	: "json",
            url: "http://localhost:8080/info/me/boards/recommends?page=" + page + "&size=8",
            beforeSend: function (xlr) {
                xlr.setRequestHeader("Authorization", accessToken)
            },
            success: function (response) {
                for (let i=0; i<response.data.length; i++){
                    var temp = `
                        <a href="g-2_recommendDetail.html" class="article" style="text-decoration: none; color: #000000">
                            <div class="img-wrap" style="width: 100%; height: 176px; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                                <img style="width: 100%" src=${response.data[i].imgList[0]} alt="산 이미지" />
                            </div>
                            <div class="text-wrap" style="font-size: 14px;">
                                <p style="margin-bottom: 10px; width: 90%">${response.data[i].title}</p>
                                <div style="display: flex;">
                                    <div class="img-wrap" style="width:18px; height: 18px; margin-right: 5px; display: flex; justify-content: center; align-items: center; overflow: hidden">
                                        <img style="width: 100%" src="/static/img/heart.png" alt="좋아요 하트" />
                                    </div>
                                    <p style="margin-bottom: 0; font-size: 14px;">${response.data[i].likeCount}</p>
                                </div>
                            </div>
                        </a>
                    `
                    $("#postList").append(temp);
                }
                $("#totalCount").empty();
                var tempTotalCount = `
                  <b>총 <span style="color: #F46B3F">${response.totalCount}</span> 건</b>
                `
                $("#totalCount").append(tempTotalCount)

            }
        });
    }
</script>
</body>

</html>
