<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/menu.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="theme-color" content="#fafafa">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <title>올라 코스추천</title>
  <style>
    .container {
      width: 1200px;
      padding: 0;
    }

    .wrap_1 {
      width: 1200px;
      margin-bottom: 10px;
      /*height: 250px;*/
      /*border: 1px solid blue;*/
    }

    .wrap_1 div {
      width: 1200px;
      height: 38px;
      /*border: 1px solid red;*/
    }

    .wrap_1_2 div {
      width: 80px;
      display: inline-block
    }

    .wrap_2 {
      width: 1200px;
    }

    .wrap_2_1_1_1 {
      width: 595px;
      height: 30px;
      display: inline-block;
    }

    .card-title {
      font-size: 15px;
      font-weight: bolder;
    }

    .wrap_3 {
      width: 1200px;
      height: 80px;
    }

    .wrap_4 {
      margin-top: 50px;
      height: 50px;
      width: 1200px;
    }

    #like:hover {
      color: red;
    }

    #btn_1 {
      width: 200px;
      height: 50px;
      border: 1px solid white;
      background-color: #F46B3F;
      border-radius: 5px;
      color: white;
      float: right;
    }

    .form-check-inline {
      margin: 0;
    }

    .form-check-input:checked {
      background-color: #F46B3F;
      border-color: #F46B3F;
    }

    .page-link,
    .page-link:hover,
    .page-link:active,
    .page-link:focus {
      color: #F46B3F;
    }
  </style>
</head>
<body>
<!-- ############# 네비게이션 #############-->
<header class="menu">
  <div class="bg-line"></div>
  <div class="logo-wrap" style="cursor: pointer;" onclick="moveMainPage()">
    <img class="img" src="./../static/img/logo_main.png" alt="로고"/>
  </div>
  <div class="item-list">
    <a href="./g-1_recommend.html" style="color: #F46B3F; font-weight: bolder">코스추천</a>
    <a href="h-1_communityMain.html">커뮤니티</a>
    <a href="./i-1_shopMain.html">쇼핑몰</a>
    <a href="./j-1_noticeMain.html">공지사항</a>
  </div>
  <div class="right" style="margin-top: 10px">
    <div class="friend">
      <div class="icon-friend" onclick="handleToggleFriendDropBox()">
        <img class="img" src="./../static/img/icon_friends.png"/>
      </div>
      <div class="friend-dropbox">
        <div class="search-area">
          <div class="mb-3">
            <input type="text" class="form-control" id="searchNickName" placeholder="닉네임 검색"
                   style="width: 240px; height: 40px">
          </div>
          <div class="btn-wrap">
            <button type="button" class="btn btn-primary search-btn" onclick="searchFriend()"
                    style="height: 40px;">검색
            </button>
          </div>
        </div>

        <div class="friend-div">
          <ul class="friend-list-3"></ul>


          <ul class="friend-list-1">
            <p class="recommend-title">내 친구목록</p>
          </ul>

          <div class="line"></div>

          <ul class="friend-list-2">
            <p class="recommend-title" style="margin-top: 10px">추천 친구</p>
          </ul>
        </div>
      </div>
    </div>
    <div class="bell">
      <div class="icon-bell" onclick="handleToggleBellDropBox()">
        <img class="img" src="./../static/img/icon_bell.png"/>
      </div>
      <div class="bell-dropbox">
        <p style="margin-bottom: 10px">알람</p>
        <ul id="alarm">

        </ul>
      </div>
    </div>
    <a id="my-profile" style="display: flex; align-items: center;" class="my-profile-wrap"
       href="./f-1_myPage.html">
    </a>
    <!--          <div class="img-wrap">-->
    <!--            <img class="img" src="./../static/img/icon_profile_default.png " />-->
    <!--          </div>-->
    <!--          <p class="text">나와바리나와바님</p>-->
  </div>
</header>

<!-- ############# 작업공간 #############-->
<main class="container">
  <section class="">
    <div class="wrap_1">
      <div class="wrap_1_2" style="margin-top: 100px">
        <span><b>높이별</b> &nbsp;&nbsp;</span>
        <div class="form-check form-check-inline" style="width: 65px">
          <input class="form-check-input" type="radio" name="inlineRadioHeightOptions"
                 id="inlineRadioHeight1"
                 value="all" onclick="altitudeChoice(0)" checked>
          <label class="form-check-label" for="inlineRadioHeight1">전체</label>
        </div>
        <div class="form-check form-check-inline" style="width: 115px">
          <input class="form-check-input" type="radio" name="inlineRadioHeightOptions"
                 id="inlineRadioHeight1-1" value="all" onclick="altitudeChoice(100)">
          <label class="form-check-label" for="inlineRadioHeight1-1">100m 이상</label>
        </div>
        <div class="form-check form-check-inline" style="width: 115px">
          <input class="form-check-input" type="radio" name="inlineRadioHeightOptions"
                 id="inlineRadioHeight2"
                 value="200" onclick="altitudeChoice(200)">
          <label class="form-check-label" for="inlineRadioHeight2">200m 이상</label>
        </div>
        <div class="form-check form-check-inline" style="width: 115px">
          <input class="form-check-input" type="radio" name="inlineRadioHeightOptions"
                 id="inlineRadioHeight3"
                 value="300" onclick="altitudeChoice(300)">
          <label class="form-check-label" for="inlineRadioHeight3">300m 이상</label>
        </div>
        <div class="form-check form-check-inline" style="width: 115px">
          <input class="form-check-input" type="radio" name="inlineRadioHeightOptions"
                 id="inlineRadioHeight4"
                 value="400" onclick="altitudeChoice(400)">
          <label class="form-check-label" for="inlineRadioHeight4">400m 이상</label>
        </div>
      </div>
      <div class="wrap_1_2">
        <span><b>별점순</b> &nbsp;&nbsp;</span>
        <div class="form-check form-check-inline" style="width: 65px">
          <input class="form-check-input" type="radio" name="inlineRadioScoreOptions"
                 id="inlineRadio5"
                 value="all" onclick="scoreChoice(0)" checked>
          <label class="form-check-label" for="inlineRadio5">전체</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioScoreOptions"
                 id="inlineRadioScore5-1"
                 value="1" onclick="scoreChoice(1)">
          <label class="form-check-label" for="inlineRadioScore5-1">1점</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioScoreOptions"
                 id="inlineRadioScore6"
                 value="2" onclick="scoreChoice(2)">
          <label class="form-check-label" for="inlineRadioScore6">2점</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioScoreOptions"
                 id="inlineRadioScore7"
                 value="3" onclick="scoreChoice(3)">
          <label class="form-check-label" for="inlineRadioScore7">3점</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioScoreOptions"
                 id="inlineRadioScore8"
                 value="4" onclick="scoreChoice(4)">
          <label class="form-check-label" for="inlineRadioScore8">4점</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioScoreOptions"
                 id="inlineRadioScore9"
                 value="5" onclick="scoreChoice(5)">
          <label class="form-check-label" for="inlineRadioScore9">5점</label>
        </div>
      </div>
      <div class="wrap_1_2">
        <span><b>지역별</b> &nbsp;&nbsp;</span>
        <div class="form-check form-check-inline" style="width: 65px">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation10" value="all" onclick="regionChoice('')" checked>
          <label class="form-check-label" for="inlineRadioLocation10">전체</label>
        </div>
        <div class="form-check form-check-inline" style="width: 110px">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation10-1" value="서울특별시" onclick="regionChoice('서울')">
          <label class="form-check-label" for="inlineRadioLocation10-1">서울특별시</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation11" value="경기도" onclick="regionChoice('경기도')">
          <label class="form-check-label" for="inlineRadioLocation11">경기도</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation12" value="강원도" onclick="regionChoice('강원도')">
          <label class="form-check-label" for="inlineRadioLocation12">강원도</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation13" value="충청도" onclick="regionChoice('충청도')">
          <label class="form-check-label" for="inlineRadioLocation13">충청도</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation14" value="전라도" onclick="regionChoice('전라도')">
          <label class="form-check-label" for="inlineRadioLocation14">전라도</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation15" value="경상도" onclick="regionChoice('경상도')">
          <label class="form-check-label" for="inlineRadioLocation15">경상도</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioLocationOptions"
                 id="inlineRadioLocation16" value="제주도" onclick="regionChoice('제주도')">
          <label class="form-check-label" for="inlineRadioLocation16">제주도</label>
        </div>
      </div>
      <div class="wrap_1_2">
        <span><b>계절별</b> &nbsp;&nbsp;</span>
        <div class="form-check form-check-inline" style="width: 65px">
          <input class="form-check-input" type="radio" name="inlineRadioSeasonOptions"
                 id="inlineRadioSeason17" value="all" onclick="seasonChoice('')" checked>
          <label class="form-check-label" for="inlineRadioSeason17">전체</label>
        </div>

        <div class="form-check form-check-inline" style="width: 55px">
          <input class="form-check-input" type="radio" name="inlineRadioSeasonOptions"
                 id="inlineRadioSeason17-1" value="봄" onclick="seasonChoice('봄')">
          <label class="form-check-label" for="inlineRadioSeason17-1">봄</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioSeasonOptions"
                 id="inlineRadioSeason18" value="여름" onclick="seasonChoice('여름')">
          <label class="form-check-label" for="inlineRadioSeason18">여름</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioSeasonOptions"
                 id="inlineRadioSeason19" value="가을" onclick="seasonChoice('가을')">
          <label class="form-check-label" for="inlineRadioSeason19">가을</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioSeasonOptions"
                 id="inlineRadioSeason20" value="겨울" onclick="seasonChoice('겨울')">
          <label class="form-check-label" for="inlineRadioSeason20">겨울</label>
        </div>
      </div>
      <div class="wrap_1_5">
        <button onclick="getRecommendList(0,8)"
                style="background-color: #F46B3F; color: white; border: none; border-radius: 5px; width: 100px;">
          검색
        </button>
      </div>
    </div>

    </div>
    <div class="wrap_2">
      <div class="wrap_2_1_1"
           style="height: 50px; padding-top: 15px; display: flex; justify-content: space-between;">
        <div class="wrap_2_1_1_1">
          <div style="height: 50px;" class="totalCnt">

          </div>
        </div>
        <!-- 좋아요 셀렉트박스 -->
        <select class="select-like form-serch-select form-select"
                aria-label="Default select example" id="likeChoice"
                style="width: 130px" onchange="orderByLikeChoice(value)">
          <option value="0">좋아요순</option>
          <option value="1">날짜 순</option>
        </select>

      </div>
      <!-- 카드 -->
      <div class="article-wrap" id="cardBody"
           style="width:1200px; margin-top:10px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px ">
      </div>
    </div>
    <!--   페이지네이션/작성버튼     -->
    <div class="wrap_4" style="position: relative; margin-bottom: 100px">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#" onclick="getRecommendList(0,8)">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#" onclick="getRecommendList(1,8)">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#" onclick="getRecommendList(2,8)">3</a>
          </li>
          <li class="page-item"><a class="page-link" href="#" onclick="getRecommendList(3,8)">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div id="bottom-btn">
        <!-- 작성버튼 들어갈 자리 -->
        <!--      <button type="button" id="btn_1" onclick="moveCreatePage()">게시글 작성</button>-->
      </div>
    </div>
  </section>
</main>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<!--<script src="https://www.google-analytics.com/analytics.js" async></script>-->
<script>
  var searchRegion = "";
  var searchSeason = "";
  var searchScore = 0;
  var searchAltitude = 0;
  var searchOrderByLike = "likeDesc"
  var preSignedImageURL = "";

  $(document).ready(function () {
    getRecommendList(0, 8, searchScore, searchSeason, searchAltitude, searchRegion, searchOrderByLike);
    getMenuProfile();
    myFriedList();
    recommendFriedList();
    selectAlarm();
  });

  function getMenuProfile() {
    var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
    console.log("menuProfile : ", menuProfile)
    var tempProfile = `
            <div class="img-wrap">
              <img class="img" style="width: 100%; height: auto" src=${menuProfile.profileImage
        ? menuProfile.profileImage : "./../static/img/icon_profile_default.png"} alt="프로필사진"/>
            </div>
            <p class="text">${menuProfile.sub}님</p>
        `
    $("#my-profile").append(tempProfile);
  }

  $(document).ready(function () {
    $(".friend-dropbox").hide();
    $(".bell-dropbox").hide();
  });

  function handleToggleBellDropBox() {
    $(".bell-dropbox").toggle();
    $(".friend-dropbox").hide();
  }

  function handleToggleFriendDropBox() {
    $(".friend-dropbox").toggle();
    $(".bell-dropbox").hide();

    //사람버튼 클릭 시 기존 데이터 reload 되도록
    $(".friend-div").empty();

    let result = `<ul class="friend-list-3"></ul>


          <ul class="friend-list-1">
            <p class="recommend-title">내 친구목록</p>
          </ul>

          <div class="line"></div>

          <ul class="friend-list-2">
            <p class="recommend-title" style="margin-top: 10px">추천 친구</p>
          </ul>`

    $(".friend-div").append(result);
    myFriedList();
    recommendFriedList();
  }

  function setRecommendId(id) {
    localStorage.setItem("recommendId", id);
  }

  //파라미터 변수가 이상함..ㅠㅠ
  //http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/boards/recommends?page=0&size=5&score=0&season=&altitude=0&region=&orderByLike=boardId

  async function getRecommendList(page, size) {
    // 1. 데이터 초기화를 해야됨.
    $('#cardBody').empty();
    const accessToken = localStorage.getItem("accessToken");

    console.log("searchScore" + searchScore)
    console.log("searchSeason" + searchSeason)
    console.log("searchAltitude" + searchAltitude)
    console.log("searchRegion" + searchRegion)
    console.log("searchOrderByLike" + searchOrderByLike)

    // 2. 통신해서 불러오기 2
    $.ajax({
      type: "GET",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/boards/recommends?page=" + page + "&size=" + size + "&score="
          + searchScore + "&season=" + searchSeason
          + "&altitude=" + searchAltitude + "&region=" + searchRegion + "&sort="
          + searchOrderByLike,
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: async function (response) {
          $('.totalCnt').empty()
          const cnt = `<b style="font-weight: bold">총 <span style="color : #F46B3F" >${response.totalCount}</span> 건&nbsp;</b>`
          $('.totalCnt').append(cnt)

        for (let i = 0; i < response.data.length; i++) {
            var imgUrl = "";
            if (response.data[i].imgList[0]){
                imgUrl = await getImageURL(response.data[i].imgList[0]);
            }else{
                imgUrl = "./../static/img/mountain-default.png"
            }

            // 데이터 바인딩
            const temp =
              `
              <a href="g-2_recommendDetail.html" class="article" style="text-decoration: none; color: #000000" onclick="setRecommendId(${response.data[i].boardId})">
                    <div class="img-wrap"
                         style="width: 100%; height: 176px; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                        <img style="width: 100%" src=${imgUrl} alt="디폴트 산 이미지"/>
                    </div>
                    <div class="text-wrap" style="font-size: 14px;">
                        <p style="margin-bottom: 10px; width: 90%">${response.data[i].title}</p>
                        <div style="display: flex;">
                            <div class="img-wrap"
                                 style="width:18px; height: 18px; margin-right: 5px; display: flex; justify-content: center; align-items: center; overflow: hidden">
                                <img style="width: 100%" src="/static/img/heart.png" alt="좋아요 하트"/>
                            </div>
                            <p style="margin-bottom: 0; font-size: 14px;">${response.data[i].likeCount}</p>
                        </div>
                    </div>
                </a>
              `

          $('#cardBody').append(temp)
        }
        var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
        $("#bottom-btn").empty();
        if (menuProfile.grade == "MOUNTAIN_CHILDREN" || menuProfile.grade == "MOUNTAIN_MANIA") {
          var createBtnTemp = `
            <button type="button" id="btn_1" onclick="moveNo()" style="background-color: #f2f2f2; border: 1px solid #E4E4E4; color: #ADADAD">게시글 작성</button>
          `
        } else if (menuProfile.grade == "MOUNTAIN_GOD") {
          var createBtnTemp = `
            <button type="button" id="btn_1" onclick="moveCreatePage()">게시글 작성</button>
          `
        }
        $("#bottom-btn").append(createBtnTemp)

        return response.data
      }, error: function (response) {
        console.log("response : ", response)
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
        }
      }
    })
  }

  function regenerateToken() {
    var refreshToken = localStorage.getItem("refreshToken")

    $.ajax({
      type: "POST",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/auth/token/regenerate",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        refreshToken: refreshToken
      }),
      success: function (response) {
        localStorage.setItem('accessToken', response.accessToken)
        localStorage.setItem("refreshToken", response.refreshToken)
        getRecommendList(0, 8);
      }, error: function (response) {
        console.log("에러 : ", response)
      }
    })
  }

async function getImageURL(objectKey) {
    var loadData = "";
        const accessToken = localStorage.getItem("accessToken");
        // 파일을 여러개 선택할 수 있으므로 files 라는 객체에 담긴다.
        console.log("objectKey 이미지 파일이름 찍히는지 보자.");
        console.log("objectKey : ", objectKey);

        await $.ajax({
          type: "GET",
          url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/s3/getPreSignedURL?fileName="+ objectKey,
          contentType: "application/json",
          processData: false,
          beforeSend: function (xlr) {
            xlr.setRequestHeader("Authorization", accessToken);
          },
          data: objectKey,
          xhrFields: {
            withCredentials:false // 클라이언트와 서버가 통신할때 쿠키와 같은 인증 정보 값을 공유하겠다는 설정
          },
          success: await function (response) {
            console.log("세번째") 
            console.log("preSignedURL : ", response);
            loadData = response       
           
          },
          error: function (request, status, error) {
            
            console.log("에러난다..!");
            console.log(request, status, error);
            // "[requestPostBodyJson] : [error] : " + JSON.stringify(xhr);
          },
          
        });
       return loadData
      }

  function regionChoice(value) {
    console.log(value)
    searchRegion = value
  }

  function seasonChoice(value) {
    console.log(value)
    searchSeason = value
  }

  function scoreChoice(value) {
    console.log(value)
    searchScore = value
  }

  function altitudeChoice(value) {
    console.log(value)
    searchAltitude = value
  }

  function orderByLikeChoice(value) {
    console.log(value)
    if (value === "0") {
      searchOrderByLike = "likeDesc"
    } else {
      searchOrderByLike = "dateDesc"
    }
    getRecommendList(0, 8, searchScore, searchSeason, searchAltitude, searchRegion,
        searchOrderByLike);
  }

  function moveCreatePage() {

    window.location = "g-3_recommendPost.html"
  }

  function moveNo() {
    alert("산신령 등급만 작성할 수 있습니다.")
  }

  function searchFriend() {
    let targetNickname = $("#searchNickName").val();
    const accessToken = localStorage.getItem("accessToken")

    if ($("#searchNickName").val() == '') {
      alert("닉네임을 입력해주세요.");
      return;
    }

    $.ajax({
      type: "GET",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/friend?page=0&size=10&targetNickname="
          + targetNickname,
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: function (response) {

        $(".friend-list-1").empty();
        $(".friend-list-2").empty();
        $(".friend-list-3").empty();
        $(".line").remove();

        let result = null;

        if (response.data.length == 0) {
          result = `<p style="font-size: 12px; color: #FF422F; text-align: center; margin-top: 20px">검색 결과가 없습니다.</p>`

          $(".friend-list-3").append(result);
        } else {
          for (let i = 0; i < response.data.length; i++) {
            let image = response.data[i].friendImage;
            let friendId = response.data[i].friendId;
            let name = response.data[i].friendName;
            let tags = response.data[i].hashtagList;
            let tagName = [];

            for (let j = 0; j < tags.length; j++) {
              tagName.push("#" + tags[j].name);
            }

            result = `
                    <li style="margin-top: 10px;">
                        <div className="left">
                          <div className="img-wrap" style="width: 32px;height: 32px;overflow: hidden; border-radius: 100%; display: flex; justify-content: center; border: 1px solid #cccccc;">
                            <img className="img" src="${image}"/>
                          </div>
                        </div>
                        <input type="hidden" value="${friendId}">
                          <p className="name" style="margin-left: 10px; margin-top: 2px">${name}</p>
                         <p style="font-size: 11px; color: #FF422F; margin-left: 20px; width : 300px; display: inline-block; padding: 0px; margin-top: 7px; ">${tagName}</p>
                      </li>`

            $(".friend-list-3").append(result);
          }
        }
        $("#searchNickName").val('');
      }
    });
  }

  function recommendFriedList() {
    const accessToken = localStorage.getItem("accessToken")

    $.ajax({
      type: "GET",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/friends/recommends?page=0&size=5",
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: function (response) {

        let result = null;
        let sideFriend = null;
        let tagName = [];
        $(".friend-list-2").empty();

        if (response.data.length == 0) {
          result = `<p style="font-size: 12px; color: #FF422F; text-align: center; margin-bottom: 30px">추천 친구가 없습니다.</p>`

          $(".friend-list-2").append(result);
        } else {
          for (let i = 0; i < response.data.length; i++) {
            let image = response.data[i].friendImage;
            let name = response.data[i].friendName;
            let friendId = response.data[i].friendId;
            let tags = response.data[i].hashtagList;

            tagName = [];
            for (let j = 0; j < tags.length; j++) {
              tagName.push("#" + tags[j].name);
            }

            sideFriend = `<li style="margin-top: 20px">
                        <div className="left">
                          <div className="img-wrap" style="width: 32px;height: 32px;overflow: hidden; border-radius: 100%; display: flex; justify-content: center; border: 1px solid #cccccc; text-align: center">
                            <img className="img" src="${image}"/>
                          </div>
                        </div>
                        <input class="targetId1" type="hidden" value="${friendId}" id="targetId">
                          <p className="name" style="margin-left: 10px;margin-bottom: 10px" id="targetName">${name}</p>
                           <p style="font-size: 11px; color: #FF422F; margin-left: 20px; display: inline-block; margin-top: 3px; width: 200px">${tagName}</p>
                          <button type="button" class="btn btn-link" onclick="addFriend(${friendId});"
                                        style="text-decoration: none; color: cornflowerblue; font-size: 13px; padding: 0px; margin-left: 10px; margin-bottom: 11px; font-weight: bolder;
                                        width: 70px">친구추가</button>
                      </li>`

            $(".friend-list-2").append(sideFriend);
          }
        }
      },
      error: function (response) {
        console.log(response)
      }
    });
  }

  function myFriedList() {
    const accessToken = localStorage.getItem("accessToken")

    $.ajax({
      type: "GET",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/friends?page=0&size=5",
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: function (response) {

        $(".friend-list-1").empty();

        let result = null;
        let tagName = [];

        if (response.data.length == 0) {
          result = `<p style="font-size: 12px; color: #FF422F; text-align: center; margin-bottom: 30px">추가된 친구가 없습니다.</p>`

          $(".friend-list-1").append(result);

        } else {
          for (let i = 0; i < response.data.length; i++) {
            let image = response.data[i].friendImage;
            let name = response.data[i].friendName;
            let friendId = response.data[i].friendId;
            let tags = response.data[i].hashtagList;

            tagName = [];
            for (let j = 0; j < tags.length; j++) {
              tagName.push("#" + tags[j].name);
            }

            result = `<li>
                        <div className="left">
                          <div className="img-wrap" style="width: 32px;height: 32px;overflow: hidden; border-radius: 100%; display: flex; justify-content: center; border: 1px solid #cccccc;">
                            <img className="img" src="${image}"/>
                          </div>
                        </div>
                        <input type="hidden" value="${friendId}" id="targetId">
                          <p className="name" style="margin-left: 10px; margin-top: 2px; font-size: 15px">${name}</p>
                          <p style="font-size: 11px; color: #FF422F; margin-left: 20px; display: inline-block; margin-top: 7px; width: 200px">${tagName}</p>
                          <button type="button" class="btn btn-link" onclick="deleteFriend(${friendId});"
                                        style="text-decoration: none; color: #93961E; font-size: 13px; padding: 0px; margin-left: 10px; margin-bottom: 2px; font-weight: bolder;
                                        width: 70px">친구삭제</button>
                      </li>`

            $(".friend-list-1").append(result);
          }
        }
      }
    });
  }

  function addFriend(targetId) {
    const accessToken = localStorage.getItem("accessToken")

    $.ajax({
      type: "POST",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/friends?targetId="
          + targetId + "&page=0&size=5",
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: function () {
        $(".friend-list-1").empty();
        $(".friend-list-2").empty();

        let result = `<p class="recommend-title">내 친구목록</p>`;
        let result2 = `<div class="line"></div>
            <p class="recommend-title" style="margin-top: 10px">추천 친구</p>`;

        $(".friend-list-1").append(result);
        $(".friend-list-2").append(result2);

        myFriedList();
        recommendFriedList();
        mainRecommendFriendList()
      }
    });
  }

  function deleteFriend(targetId) {
    const accessToken = localStorage.getItem("accessToken")

    $.ajax({
      type: "DELETE",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/friends?targetId="
          + targetId + "&page=0&size=5",
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: function () {
        $(".friend-list-1").empty();
        $(".friend-list-2").empty();

        let result = `<p class="recommend-title">내 친구목록</p>`;
        let result2 = `<div class="line"></div>
            <p class="recommend-title" style="margin-top: 10px">추천 친구</p>`;

        $(".friend-list-1").append(result);
        $(".friend-list-2").append(result2);

        myFriedList();
        recommendFriedList();
        mainRecommendFriendList()
      }
    });
  }

  //알림 조회
  function selectAlarm() {
    const accessToken = localStorage.getItem("accessToken")

    $.ajax({
      type: "GET",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/alarm?page=0&size=10",
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: function (response) {
        $("#alarm").empty();

        let result = null;
        let changeImg = null;

        if (response.data.length == 0) {
          result = `<li style="color: #f46b3f; margin-left: 50px">※ 현재 알림이 없습니다</li>`;
          $("#alarm").append(result);
        }
        for (var i = 0; i < response.data.length; i++) {

          board_Id = response.data[i].boardId;
          alarmId = response.data[i].alarmId;
          if (response.data[i].readStatus == "N") {

            $(".icon-bell").empty();

            changeImg = `<img className="img" style="width: 32px; height : 32px" src="./../static/img/icon_bell_2.png"/>`;

            $(".icon-bell").append(changeImg);

            result = `<li><a onclick="setCommunityId(${board_Id}, ${alarmId})" style="color: #f46b3f">${response.data[i].message}</a></li>`;
            $("#alarm").append(result);
          } else {
            result = `<li><a onclick="setCommunityId(${board_Id}, ${alarmId})" style="color: black">${response.data[i].message}</a></li>`;
            $("#alarm").append(result);
          }
        }
      }
    });
  }

  //알람 읽음 상태로 변경
  function updateAlarmStats(alarmId) {
    const accessToken = localStorage.getItem("accessToken")

    $.ajax({
      type: "PATCH",
      url: "http://ec2-3-36-247-109.ap-northeast-2.compute.amazonaws.com:8080/alarm?alarmId="
          + alarmId,
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken)
      },
      success: function (response) {
        console.log("업데이트 ")
        selectAlarm();
      }
    });
  }

  //로컬 스토리지에 boardId 저장
  function setCommunityId(board_Id, alarmId) {
    updateAlarmStats(alarmId);
    localStorage.setItem("communityId", board_Id)
    location.replace('h-2_communityDetail.html');
  }

  //메인으로 돌아가기
  function moveMainPage() {
    window.location = "./../index.html"
  }
</script>
</body>
</html>