<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="theme-color" content="#fafafa" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>올라 코스추천</title>
    <style>
      .container {
        width: 1200px;
        padding: 0;
      }

      .w_1 {
        width: 1200px;
        height: 200px;
      }

      .w_2 {
        width: 1200px;
        height: 550px;
      }

      .w_3 {
        width: 1200px;
        height: 240px;
      }

      .w_4 {
        width: 1200px;
        height: 50px;
        display: inline-block;
      }

      .score,
      .title,
      .above,
      .season,
      .address {
        width: 1200px;
        height: 33px;
        text-align: center;
        padding: 0px;
      }

      .w_1_1 {
        width: 1200px;
        height: 33px;
      }

      .w_2 img {
        height: 550px;
        object-fit: cover;
        position: center;
        margin-left: 230px;
      }

      .w_4 .b_1 {
        width: 800px;
        height: 50px;
        display: inline-block;
      }

      .w_4 .b_2,
      .w_4 .b_3,
      .w_4 .b_4 {
        width: 100px;
        height: 50px;
        display: inline-block;
        float: right;
        margin-right: 10px;
      }

      #btn_1 {
        width: 100px;
        height: 40px;
        border: 1px solid #f46b3f;
        background-color: white;
        border-radius: 5px;
      }

      #btn_1:hover {
        width: 100px;
        height: 40px;
        border: 1px solid white;
        background-color: #f46b3f;
        border-radius: 5px;
        color: white;
      }

      #btn_2 {
        width: 100px;
        height: 40px;
        border: 1px solid #f46b3f;
        background-color: white;
        border-radius: 5px;
      }

      #btn_2:hover {
        width: 100px;
        height: 40px;
        border: 1px solid white;
        background-color: #f46b3f;
        border-radius: 5px;
        color: white;
      }

      #btn_3 {
        width: 100px;
        height: 40px;
        border: 1px solid white;
        background-color: #f46b3f;
        border-radius: 5px;
        color: white;
      }

      #btn_3:hover {
        width: 100px;
        height: 40px;
        border: 1px solid #f46b3f;
        background-color: white;
        border-radius: 5px;
        color: black;
      }

      .btns {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 100px;
      }
      .btns > button {
        width: 160px;
        height: 50px;
        margin-left: 10px;
        background-color: white;
        border: 1px solid #f46b3f;
        color: #f46b3f;
      }

      .btns > button:hover {
        background-color: #f46b3f;
        border: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <!-- ############# 네비게이션 #############-->
    <header class="menu">
      <div class="bg-line"></div>
      <div class="logo-wrap">
        <img class="img" src="./../static/img/logo_main.png" alt="로고" />
      </div>
      <div class="item-list">
        <a href="./g-1_recommend.html" style="font-weight: bold; color: #f46b3f"
          >코스추천</a
        >
        <a href="h-1_communityMain.html">커뮤니티</a>
        <a href="./i-1_shopMain.html">쇼핑몰</a>
        <a href="./j-1_noticeMain.html">공지사항</a>
      </div>
      <div class="right">
        <div class="friend">
          <div class="icon-friend" onclick="handleToggleFriendDropBox()">
            <img class="img" src="./../static/img/icon_friends.png" />
          </div>
          <div class="friend-dropbox">
            <div class="search-area">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="닉네임 검색"
                />
              </div>
              <div class="btn-wrap">
                <button type="button" class="btn btn-primary search-btn">
                  검색
                </button>
              </div>
            </div>
            <ul class="friend-list">
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
            </ul>
            <div class="line"></div>
            <p class="recommend-title">추천 친구</p>
            <ul class="friend-list">
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="bell">
          <div class="icon-bell" onclick="handleToggleBellDropBox()">
            <img class="img" src="./../static/img/icon_bell.png" />
          </div>
          <div class="bell-dropbox">
            <p>알람</p>
            <ul>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
            </ul>
          </div>
        </div>
        <a id="my-profile" class="my-profile-wrap" href="./f-1_myPage.html">
          <!--          <div class="img-wrap">-->
          <!--            <img class="img" src="./../static/img/icon_profile_default.png " />-->
          <!--          </div>-->
          <!--          <p class="text">나와바리나와바님</p>-->
        </a>
      </div>
    </header>

    <!-- ############# 작업공간 #############-->
    <main class="container">
      <section class="detailBoard">
        <!--   작업공간   -->
        <div class="wrap" id="boardWrap">
          <!-- <div class="w_1">
            <div class="w_1_1"></div>
            <div class="score">
              <b style="color: #f46b3f">4.0</b>
            </div>
            <div class="title">
              <h3>북한산 최정상 코스!</h3>
            </div>
            <div class="season">
              <b style="color: #f46b3f">가을</b>
              <b>이 최고의 계절</b>
            </div>
            <div class="above">
              <b>해발 500m</b>
            </div>
            <div class="w_1_1"></div>
          </div>
          <div class="w_2">
            <img src="../static/img/bestshot3.jpg" />
          </div>

          <hr />
          <div class="w_3">
            <div class="address">
              <b>주소 : &nbsp;</b>
              <span
                >경기 고양시 덕양구 북한동 산1-1, 서울시 강북구 우이동
              </span>
            </div>
            <br />
            <div>
              <span>
                [코스 : 북한산성탐방지원센터~대서문, 대서문~보리사,
                보리사~백운대] <br />
                북한산성지구의 대표적 산행코스인 북한산성코스는
                북한산성탐방지원센터 입구에서 시작된다. 산성탐방지원센터 바로
                옆에는 탐방 전 가장 먼저 이용 할 수 있는 화장실이 있으며, 다양한
                브랜드의 아웃도어 상점을 끼고 곧장 직진하면 첫 번째 갈림길이
                나온다. 우측을 따라 도로 쪽으로 대남문 코스가 이어지고,
                좌측으로는 북한산둘레길 10구간인 내시묘역길을 갈 수 있는
                둘레교와 쉼터가 나온다. 우측 길을 가다 보면 북한산성분소가
                보이고, 계속해서 도로 길을 따라 올라가면 북한산성의 13개성문
                중에 하나인 ‘대서문’이 나온다. 대서문은 의상봉 서북쪽 해발
                150m높이의 낮은 구릉지에 위치한 성문으로 북한산성 성문 중
                동서남북, 4개 방위 중 서쪽을 대표하고 있는 성문인 동시에
                북한산성의 정문이다.
              </span>
            </div>
          </div>
          <br /> -->
          <!--            <div class="w_4">-->
          <!--                <div class="b_1"></div>-->

          <!--                <div class="b_4">-->
          <!--                    <button type="button" id="btn_3">목록</button>-->
          <!--                </div>-->

          <!--                <div class="b_2">-->
          <!--                    <a href="g-4_recommendModify.html" style="text-decoration: none; color : black;">-->
          <!--                        <button type="button" id="btn_1">-->
          <!--                            수정-->
          <!--                        </button>-->
          <!--                    </a>-->
          <!--                </div>-->
          <!--                <div class="b_3">-->
          <!--                    <button type="button" id="btn_2">삭제</button>-->
          <!--                </div>-->
          <!--            </div>-->
        </div>
          <div class="btns">
            <button type="button" class="modifyBtn btn btn-primary btn-search" onclick="moveModifyPage()">
              수정
            </button>
            <button
              type="button"
              class="deleteBtn btn btn-primary btn-search"
              onclick="deleteRecommend()"
            >
              삭제
            </button>
            <button
              type="button"
              class="btn btn-primary btn-search"
              style="background-color: #f46b3f; border: none; color: white"
            >
              목록
            </button>
          </div>
        </div>
      </section>
    </main>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      $(document).ready(function () {
        $(".friend-dropbox").hide();
        $(".bell-dropbox").hide();
        getMenuProfile();
        getRecommend();
      });
      function getMenuProfile() {
        var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
        var tempProfile = `
          <div class="img-wrap">
            <img class="img" style="width: 100%; height: auto" src=${menuProfile.profileImage} alt="프로필사진"/>
          </div>
          <p class="text">${menuProfile.sub}님</p>
`;
        $("#my-profile").append(tempProfile);
      }

      function handleToggleBellDropBox() {
        $(".bell-dropbox").toggle();
        $(".friend-dropbox").hide();
      }

      function handleToggleFriendDropBox() {
        $(".friend-dropbox").toggle();
        $(".bell-dropbox").hide();
      }
      // 단건 코스조회
      function getRecommend() {
        const id = localStorage.getItem("recommendId");
        console.log("보드아이디 : ", id);
        $.ajax({
          type: "GET",
          url: `http://localhost:8080/boards/recommends/${id}`,
          beforeSend: function (xlr) {
            xlr.setRequestHeader(
              "Authorization",
              localStorage.getItem("accessToken")
            );
          },
          // data: {
          //   name: "sasas",
          // },
          success: function (response) {
            console.log("response : ", response);
            const score = response.score;
            const title = response.title;
            const createDate = response.createDate.substring(0, 10);
            const season = response.season;
            const altitude = response.altitude;
            const contents = response.contents;
            const region = response.region;
            const imgList = response.imgList;
            const likeCount = response.likeCount;
            const nickName = response.nickName;

            // for (let i = 0; i < response.data.length; i++) {
            console.log("이거 되니?");
            // 데이터 바인딩
            const temp = `
              <div class="w_1">
            <div class="w_1_1"></div>
            <div class="score">
              <b style="color: #f46b3f">4.0</b>
            </div>
            <div class="title">
              <h3>북한산 최정상 코스!</h3>
            </div>
            <div class="season">
              <b style="color: #f46b3f">${season}</b>
              <b>이 최고의 계절</b>
            </div>
            <div class="above">
              <b>해발 ${altitude}</b>
            </div>
            <div class="w_1_1"></div>
          </div>
          <div class="w_2">
            <img src=${imgList[0]} alt = "이미지" />
          </div>

          <hr />
          <div class="w_3">
            <div class="address">
              <b>주소 : &nbsp;</b>
              <span
                >${region}
              </span>
            </div>
            <br />
            <div>
              <span>
                ${contents}
              </span>
            </div>
          </div>
          <br />
              `;
            $("#boardWrap").append(temp);
          },
        });
      }

      function deleteRecommend() {
        const id = localStorage.getItem("recommendId");
        console.log("id : " + id);
        $.ajax({
          type: "DELETE",
          url: `http://localhost:8080/boards/recommends/${id}`,
          // dataType: "text",
          contentType: "application/json; charset=utf-8",
          beforeSend: function (xlr) {
            xlr.setRequestHeader(
              "Authorization",
              localStorage.getItem("accessToken")
            );
          },
          // data: JSON.stringify({
          //     "title" : $("#title").val(),
          //     "contents" : $("#contents").val(),
          //     "category" : category
          // }),
          success: function (response) {
            alert("삭제 완료");
            window.location.href = "g-1_recommend.html";
          },
          error: function (xhr) {
            console.log(
              "[requestPostBodyJson] : [error] : " + JSON.stringify(xhr)
            );
          },
        });
      }
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
