<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="theme-color" content="#fafafa" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>올라 코스추천</title>
    <style>
      .container {
        width: 1200px;
        padding: 0;
      }

      .w_1 {
        width: 1200px;
        height: 200px;
      }

      .w_2 {
        width: 1200px;
        height: 550px;
      }

      .w_3 {
        width: 1200px;
        height: 240px;
        margin-left: 50px;
      }

      .score,
      .title,
      .above,
      .season
      {
        width: 1200px;
        height: 33px;
        text-align: center;
        padding: 0px;
      }

      /*.address{*/
      /*  width: 1200px;*/
      /*  height: 33px;*/
      /*  margin-left: 50px;*/
      /*  padding: 0px;*/
      /*}*/

      .w_1_1 {
        width: 1200px;
        height: 33px;
      }

      .w_2 img {
        height: 550px;
        object-fit: cover;
        position: center;
        margin-left: 210px;
      }

      .btns {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 100px;
      }
      .btns > button {
        width: 160px;
        height: 50px;
        margin-left: 10px;
        background-color: white;
        border: 1px solid #f46b3f;
        color: #f46b3f;
      }

      .btns > button:hover {
        background-color: #f46b3f;
        border: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <!-- ############# 네비게이션 #############-->
    <header class="menu">
      <div class="bg-line"></div>
      <div class="logo-wrap">
        <img class="img" src="./../static/img/logo_main.png" alt="로고" />
      </div>
      <div class="item-list">
        <a href="./g-1_recommend.html" style="font-weight: bold; color: #f46b3f"
          >코스추천</a
        >
        <a href="h-1_communityMain.html">커뮤니티</a>
        <a href="./i-1_shopMain.html">쇼핑몰</a>
        <a href="./j-1_noticeMain.html">공지사항</a>
      </div>
      <div class="right">
        <div class="friend">
          <div class="icon-friend" onclick="handleToggleFriendDropBox()">
            <img class="img" src="./../static/img/icon_friends.png" />
          </div>
          <div class="friend-dropbox">
            <div class="search-area">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="닉네임 검색"
                />
              </div>
              <div class="btn-wrap">
                <button type="button" class="btn btn-primary search-btn">
                  검색
                </button>
              </div>
            </div>
            <ul class="friend-list">
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
            </ul>
            <div class="line"></div>
            <p class="recommend-title">추천 친구</p>
            <ul class="friend-list">
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="bell">
          <div class="icon-bell" onclick="handleToggleBellDropBox()">
            <img class="img" src="./../static/img/icon_bell.png" />
          </div>
          <div class="bell-dropbox">
            <p>알람</p>
            <ul>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
            </ul>
          </div>
        </div>
        <a id="my-profile" class="my-profile-wrap" href="./f-1_myPage.html">
          <!--          <div class="img-wrap">-->
          <!--            <img class="img" src="./../static/img/icon_profile_default.png " />-->
          <!--          </div>-->
          <!--          <p class="text">나와바리나와바님</p>-->
        </a>
      </div>
    </header>

    <!-- ############# 작업공간 #############-->
    <main class="container">
      <section class="detailBoard">
        <!--   작업공간   -->
        <div class="wrap" id="boardWrap">
        </div>
          <div class="btns">

          </div>
        </div>
      </section>
    </main>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      $(document).ready(function () {
        $(".friend-dropbox").hide();
        $(".bell-dropbox").hide();
        getMenuProfile();
        getRecommend();
      });
      function getMenuProfile() {
        var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
        var tempProfile = `
          <div class="img-wrap">
            <img class="img" style="width: 100%; height: auto" src=${menuProfile.profileImage} alt="프로필사진"/>
          </div>
          <p class="text">${menuProfile.sub}님</p>
`;
        $("#my-profile").append(tempProfile);
      }

      function handleToggleBellDropBox() {
        $(".bell-dropbox").toggle();
        $(".friend-dropbox").hide();
      }

      function handleToggleFriendDropBox() {
        $(".friend-dropbox").toggle();
        $(".bell-dropbox").hide();
      }
      // 단건 코스조회
      function getRecommend() {
        const id = localStorage.getItem("recommendId");
        var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
        console.log("menuProfile ; ",menuProfile)
        const accessToken = localStorage.getItem("accessToken");

        $.ajax({
          type: "GET",
          url: `http://localhost:8080/boards/recommends/${id}`,
          beforeSend: function (xlr) {
            xlr.setRequestHeader(
              "Authorization",
              localStorage.getItem("accessToken")
            );
          },
          // data: {
          //   name: "sasas",
          // },
          success: function (response) {
            console.log("response : ", response);

            const score = response.score;
            const title = response.title;
            const createDate = response.createDate.substring(0, 10);
            const season = response.season;
            const altitude = response.altitude;
            const contents = response.contents;
            const region = response.region;
            const imgList = response.imgList;
            const likeCount = response.likeCount;
            const nickName = response.nickName;
            const isLike = response.isLike;

            let temp = null;
            let btnTemp = null;
            let myNickname = menuProfile.nickname;
            //로그인한 사용자와 게시물 작성자가 같을 경우
            if(myNickname==nickName){
              btnTemp = ` <button type="button" class="modifyBtn btn btn-primary btn-search" onclick="location.href='g-4_recommendModify.html'">수정</button>`;

              btnTemp +=  `<button type="button" class="deleteBtn btn btn-primary btn-search" onclick="deleteRecommend()">삭제</button>`;

              btnTemp +=  `<button type="button" class="btn btn-primary btn-search" style="background-color: #f46b3f; border: none; color: white"
                                onclick="location.href='g-1_recommend.html'">목록</button>`
            }else{
              btnTemp = `<button type="button" class="btn btn-primary btn-search" style="background-color: #f46b3f; border: none; color: white"
                                onclick="location.href='g-1_recommend.html'">목록</button>`
            }
            $(".btns").append(btnTemp);

            //좋아요 부분
            if(isLike==true){
              // 데이터 바인딩
               temp = `<div class="w_1">
                    <div class="w_1_1"></div>
                    <div class="score">
                      <b style="color: #f46b3f">${score}.0</b>
                    </div>
                    <div class="title">
                      <h3>${title}</h3>
                    </div>
                    <div class="season">
                      <b style="color: #f46b3f;">${season}</b>
                      <b style="font-size: 15px">이 최고의 계절</b>
                    </div>
                    <div class="above">
                      <b>해발 ${altitude}</b>
                      <b>M</b>
                    </div>
                    <div class="w_1_1"></div>
                  </div>
                  <div class="w_2">
                    <img src=${imgList[0]} alt = "이미지" />
                  </div>

                  <hr style="margin-top: 30px"/>
                   <div style="display: flex;">
                         <div class="img-wrap" style="width:18px; height: 18px; margin-left:50px; margin-bottom:20px; margin-right:5px; display: flex; justify-content: center; align-items: center; overflow: hidden">
                              <img style="width: 100%" src="/static/img/unHeart.png" alt="좋아요 하트"/>
                         </div>
                         <p style="margin-bottom: 0px; font-size: 14px; font-weight: bolder">${likeCount}</p>
                   </div>
                  <div class="w_3" >
                    <div class="address">
                      <b>주소 : </b>
                      <span>${region}</span>
                    </div>
                    <br />
                    <div>
                      <span>
                        ${contents}
                      </span>
                    </div>
                  </div>
                  <br />`;
            }else{
              // 로그인한 회원이 좋아요를 누르지 않았을 때
              temp = `
              <div class="w_1">
            <div class="w_1_1"></div>
            <div class="score">
              <b style="color: #f46b3f">${score}.0</b>
            </div>
            <div class="title">
              <h3>${title}</h3>
            </div>
            <div class="season">
              <b style="color: #f46b3f;">${season}</b>
              <b style="font-size: 15px">이 최고의 계절</b>
            </div>
            <div class="above">
              <b>해발 ${altitude}</b>
              <b>M</b>
            </div>
            <div class="w_1_1"></div>
          </div>
          <div class="w_2">
            <img src=${imgList[0]} alt = "이미지" />
          </div>

          <hr style="margin-top: 30px"/>
           <div style="display: flex;">
                 <div class="img-wrap" style="width:18px; height: 18px; margin-left:50px; margin-bottom:20px; margin-right:5px; display: flex; justify-content: center; align-items: center; overflow: hidden">
                      <img style="width: 100%" src="/static/img/heart.png" alt="좋아요 하트"/>
                 </div>
                 <p style="margin-bottom: 0px; font-size: 14px; font-weight: bolder">${likeCount}</p>
           </div>
          <div class="w_3" >
            <div class="address">
              <b>주소 : </b>
              <span>${region}</span>
            </div>
            <br />
            <div>
              <span>
                ${contents}
              </span>
            </div>
          </div>
          <br />
              `;
            }

            $("#boardWrap").append(temp);
          },
        });
      }

      function deleteRecommend() {
        const id = localStorage.getItem("recommendId");
        console.log("id : " + id);
        $.ajax({
          type: "DELETE",
          url: `http://localhost:8080/boards/recommends/${id}`,
          contentType: "application/json; charset=utf-8",
          beforeSend: function (xlr) {
            xlr.setRequestHeader(
              "Authorization",
              localStorage.getItem("accessToken")
            );
          },
          success: function (response) {
            alert("삭제 완료");
            window.location.href = "g-1_recommend.html";
          },
          error: function (xhr) {
            console.log(
              "[requestPostBodyJson] : [error] : " + JSON.stringify(xhr)
            );
          },
        });
      }



       var imageUrlList = [];

      function imgUpload(input) {
        const accessToken = localStorage.getItem("accessToken");

        const imageInput = $("#chooseFile")[0];
        // 파일을 여러개 선택할 수 있으므로 files 라는 객체에 담긴다.
        console.log("$('#chooseFile'): ", $("#chooseFile"));
        console.log("$('#chooseFile').files: ", $("#chooseFile")[0].files);

        var formData = new FormData();
        for (var i = 0; i < imageInput.files.length; i++) {
          // formData.append("image", imageInput.files[i]);
          formData.append("multipartFile", imageInput.files[i]);
          console.log("imageInput.files[i].name : ", imageInput.files[i].name);
        }

        $.ajax({
          type: "POST",
          url: `http://localhost:8080/s3/file`,
          // dataType: "json",
          // dataType: "multipart",
          enctype: "multipart/form-data",
          // contentType: "application/json; charset=utf-8",
          processData: false,
          contentType: false,
          beforeSend: function (xlr) {
            xlr.setRequestHeader("Authorization", accessToken);
          },
          data: formData,
          xhrFields: {
            withCredentials: true, // 클라이언트와 서버가 통신할때 쿠키와 같은 인증 정보 값을 공유하겠다는 설정
          },
          success: function (response) {
            console.log("여긴 찍혀? 1");
            console.log("response", response);
            for (let i = 0; i < response.length; i++) {
              // imageUrlList.push(response[i].imgList[i]);
              imageUrlList.push(response[i]);
            }
            console.log("imageUrlList : ", imageUrlList);
            return imageUrlList;
          },
          error: function (request, status, error) {
            console.log(error);
            // "[requestPostBodyJson] : [error] : " + JSON.stringify(xhr);
          },
        });
      }
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
