<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="theme-color" content="#fafafa">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>올라 커뮤니티</title>
    <style>
      .container {
        width: 1200px;
        padding: 0;
      }

      /* 부트스트랩 버튼의 호버, 포커스 기능 빼기 */
      .btn:active,
      .btn:focus,
      .btn:hover {
        outline: none !important;
        /* box-shadow:none !important; */
        background-color: #f46b3f;
        border: 1px solid #f46b3f;
      }

      .btn-link:active,
      .btn-link:focus,
      .btn-link:hover {
        background-color: #ffffff;
        border: none;
      }

      .header {
        padding: 100px 0 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .search-box {
        width: 1100px;
        margin: 20px auto;
        height: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: stretch;
      }

      .form-serch-select {
        width: 150px;
      }

      .form-control {
        width: 800px;
        margin: 0 10px;
      }

      .btn-search {
        width: 150px;
        background-color: #f46b3f;
        border: 1px solid #f46b3f;
      }

      .tag-box {
        width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      #tag-btn-wrap .btn-tag {
        background-color: #ffffff;
        color: #000;
        border-radius: 50px;
        margin: 5px 2px;
        border-color: #d2d2d2;
      }

      #tag-btn-wrap .active{
          background-color: #f46b3f;
          border: none;
          color: white;
      }

      .article-wrap a > div > img {
        width: 100%;
      }

      .post-like > img{
        width: 20px;
      }

      .pageing > span {
        font-size: 20px;
        margin: 0 5px;
      }

      .wrap_4{
        margin-top: 40px;
        height: 50px;
        width: 1200px;
      }
      .page-link,
      .page-link:hover,
      .page-link:active,
      .page-link:focus{
        color: #F46B3F;
      }
      #btn_1{
        width: 200px;
        height : 50px;
        border: 1px solid white;
        background-color: #F46B3F;
        border-radius: 5px;
        color: white;
        float: right;
      }



    </style>
  </head>
  <body>
  <!-- ############# 네비게이션 #############-->
  <header class="menu">
    <div class="bg-line"></div>
    <div class="logo-wrap" style="cursor: pointer;" onclick="moveMainPage()">
      <img class="img" src="./../static/img/logo_main.png" alt="로고" />
    </div>
    <div class="item-list">
      <a href="./g-1_recommend.html">코스추천</a>
      <a href="./h-1_communityMain.html" style="font-weight: bold; color: #F46B3F">커뮤니티</a>
      <a href="./i-1_shopMain.html">쇼핑몰</a>
      <a href="./j-1_noticeMain.html">공지사항</a>
    </div>
    <div class="right">
      <div class="friend">
        <div class="icon-friend" onclick="handleToggleFriendDropBox()">
          <img class="img" src="./../static/img/icon_friends.png" />
        </div>
        <div class="friend-dropbox">
          <div class="search-area">
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="닉네임 검색">
            </div>
            <div class="btn-wrap">
              <button type="button" class="btn btn-primary search-btn">검색</button>
            </div>
          </div>
          <ul class="friend-list">
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">1:1 채팅</button>
              </div>
            </li>
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">1:1 채팅</button>
              </div>
            </li>
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">1:1 채팅</button>
              </div>
            </li>
          </ul>
          <div class="line"></div>
          <p class="recommend-title">추천 친구</p>
          <ul class="friend-list">
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">친구 추가</button>
              </div>
            </li>
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">친구 추가</button>
              </div>
            </li>
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">친구 추가</button>
              </div>
            </li>
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">친구 추가</button>
              </div>
            </li>
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">친구 추가</button>
              </div>
            </li>
            <li>
              <div class="left">
                <div class="img-wrap">
                  <img class="img" src="./../static/img/icon_profile_default.png" />
                </div>
                <p class="name">오메가오메오메</p>
                <button type="button" class="btn btn-link">친구 추가</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="bell">
        <div class="icon-bell" onclick="handleToggleBellDropBox()">
          <img class="img" src="./../static/img/icon_bell.png" />
        </div>
        <div class="bell-dropbox">
          <p>알람</p>
          <ul>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
            <li><a href="#">공지사항 내용이 추가되었습니다 언능 확인해주세요!</a></li>
          </ul>
        </div>
      </div>
      <a id="my-profile" class="my-profile-wrap" href="./f-1_myPage.html">
<!--        <div class="img-wrap">-->
<!--          <img class="img" src="./../static/img/icon_profile_default.png "/>-->
<!--        </div>-->
<!--        <p class="text">나와바리나와바님</p>-->
      </a>
    </div>

  </header>

  <!-- ############# 작업공간 #############-->
    <!-- 메인 컨테이너 -->
    <main class="container">
      <!-- 헤더 -->
      <section class="header">
        <div class="search-box">
          <select
            class="form-serch-select form-select"
            aria-label="Default select example"
            onchange="setCategory(value)"
          >
            <option value="0">제목</option>
            <option value="1">내용</option>
            <option value="2">작성자</option>
          </select>
          <!-- 검색어 입력창 -->
          <input
            type="text"
            class="form-control"
            id="serch-text"
            placeholder="검색어를 입력해주세요"
          />
          <!-- 검색버튼 -->
          <button type="button" class="btn btn-primary btn-search" onclick="getCommunityList(0)">검색</button>
        </div>
        <!-- 태그 모음 -->
        <div class="tag-box">
          <div id="tag-btn-wrap" style="text-align: center">
            <!-- 태그 들어갈 자리 -->
          </div>
          <button type="button" class="btn btn-link" style="color: #F46B3F; text-decoration: none;" onclick="more()" >더보기</button>
        </div>
      </section>
      <!-- 메인 컨텐츠 -->
      <section class="content">
        <div class="select-like-div" style="display: flex; justify-content: space-between;">
          <!-- 좋아요 셀렉트박스 -->
          <div id="total-count">
<!--            <b>총 <span style="color: #F46B3F">100</span> 건&nbsp;</b>-->
          </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <div style="margin-right: 10px;">
                    <input class="form-check-input" type="checkbox" id="checkChat" onchange="selectChat()">
                    <label class="form-check-label" for="checkChat" >
                        크루원 모집중
                    </label>
                </div>
                <select
                    class="select-like form-serch-select form-select"
                    aria-label="Default select example"
                    onchange="setSort(value)"
                >
                    <option value="0">좋아요 순</option>  
                    <option value="1">최신 순</option>
                </select>
            </div>
        </div>
        <!-- 카드 -->
        <div id="post-list" class="article-wrap" style="width:1200px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px ">
            <!-- 리스트 들어갈 자리 -->
        </div>
      </section>
      <!--   페이지네이션/작성버튼     -->
      <div class="wrap_4" style="position: relative; margin-bottom: 100px">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(1)">2</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(2)">3</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(3)">4</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(4)">5</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(5)">6</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(6)">7</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(7)">8</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(8)">9</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="getCommunityList(9)">10</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <a href="h-3_communityCreate.html" style="text-decoration: none; color : black; position: absolute; bottom: 0; right: 0;">
          <button type="button" id="btn_1">게시글 작성</button>
        </a>
      </div>
      </div>
      </section>
    </main>
    <script>
      var category = ""
      var title = ""
      var contents = ""
      var nickname = ""
      var chatStatus = ""
      var sort = ""
      var hashtagId = 0;
      $(document).ready(function () {
        $(".friend-dropbox").hide();
        $(".bell-dropbox").hide();
        getMenuProfile();
        getCommunityList(0);
        getHashtagList(0);
        category="0"
      });
      function getMenuProfile(){
        var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));

        var tempProfile = `
          <div class="img-wrap">
            <img class="img" style="width: 100%; height: auto" src=${menuProfile.profileImage ? menuProfile.profileImage : "./../static/img/icon_profile_default.png"} alt="프로필사진"/>
          </div>
          <p class="text">${menuProfile.nickname}님</p>
`
        $("#my-profile").append(tempProfile);
      }
      function handleToggleBellDropBox() {
        $(".bell-dropbox").toggle();
        $(".friend-dropbox").hide();
      }

      function handleToggleFriendDropBox() {
        $(".friend-dropbox").toggle();
        $(".bell-dropbox").hide();
      }

      function getCommunityList(page) {
        const accessToken = localStorage.getItem("accessToken")
        if(localStorage.getItem("hashtagId") != null){
            hashtagId = localStorage.getItem("hashtagId")
        }
        console.log("chatStatus : ", chatStatus)
        // console.log("hashtagId : ", hashtagId)
        formatSearchText();
        // 2. 통신해서 불러오기
        $.ajax({
          type: "GET",
          // TODO 
          url: "http://localhost:8080/boards/communities?page=" + page + "&size=8&title=" + title + "&contents=" + contents 
            + "&nickname=" + nickname + "&hashtagId=" + hashtagId + "&chatStatus=" + chatStatus + "&sort=" + sort,
          beforeSend: function (xlr) {
            xlr.setRequestHeader("Authorization", accessToken)
          },
          success: function (response) {
            console.log("response", response);
            $('#post-list').empty();
            for (let i = 0; i < response.data.length; i++) {
              let tempBoard =
                `
                  <a href="h-2_communityDetail.html" class="article" style="text-decoration: none; color: #000000" onclick="setCommunityId(${response.data[i].boardId})">
                    <div class="img-wrap" style="width: 100%; height: 176px; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                      <img style="width: 100%" src=${response.data[i].imgList[0]} alt="산 이미지" />
                    </div>
                    <div class="text-wrap" style="font-size: 14px;">
                      <p style="margin-bottom: 10px; width: 90%">${response.data[i].title}</p>
                      <div style="display: flex;">
                        <div class="img-wrap" style="width:18px; height: 18px; margin-right: 5px; display: flex; justify-content: center; align-items: center; overflow: hidden">
                          <img style="width: 100%" src="/static/img/heart.png" alt="좋아요 하트" />
                        </div>
                        <p style="margin-bottom: 0; font-size: 14px;">${response.data[i].communityLikeCnt}</p>
                      </div>
                    </div>
                  </a>
                `
              $('#post-list').append(tempBoard);
            }

            $("#total-count").empty();
            let tempTotalCount = `
                <b>총 <span style="color: #F46B3F">${response.totalCount}</span> 건&nbsp;</b>
              `
            $("#total-count").append(tempTotalCount)

            setTimeout(() => {
                localStorage.setItem("hashtagId", "0")    
            }, 100);
            
          },
          error: function (response, status, error) {
            if(response.responseJSON.message.substring(0, 11) == "JWT expired"){
              regenerateToken()
              getCommunityList(0);
            }
          },
        })
      }

      var morePage = 0;
      function more(){
        morePage++;
        getHashtagList(morePage);
      }


      function getHashtagList(page){
        const accessToken = localStorage.getItem("accessToken")
        var hashtagId = localStorage.getItem("hashtagId")
        console.log("page : ", page)
        $.ajax({
          type: "GET",
          url: "http://localhost:8080/hashtags?offset=" + page + "&limit=23&name=",
          beforeSend: function (xlr) {
            xlr.setRequestHeader("Authorization", accessToken)
          },
          success: function (response) {
            var hashtagId = localStorage.getItem("hashtagId")
            console.log("해시태그 response : ", response);
            for (let i=0; i<response.data.length; i++){
                var temp;
                if(response.data[i].id == hashtagId){
                    temp = `
                        <button type="button" class="btn btn-tag active" onclick="selectHashtag(${response.data[i].id})">${response.data[i].name}</button>
                    `
                }else{
                    temp = `
                        <button type="button" class="btn btn-tag" onclick="selectHashtag(${response.data[i].id})">${response.data[i].name}</button>
                    `
                }
              
              $("#tag-btn-wrap").append(temp)
            }
          },
          error: function (response, status, error) {
            console.log("ㅇㅔ러 response : ", response)
            if(response.responseJSON.message.substring(0, 11) == "JWT expired"){
              regenerateToken()
              getHashtagList(0);
            }
          },
        })
      }

      function selectHashtag(id){
          console.log("id : ", id)
          localStorage.setItem("hashtagId", id);
          $("#tag-btn-wrap").empty();
          getHashtagList(0)
          getCommunityList(0)
      }

      function regenerateToken(){
        var refreshToken = localStorage.getItem("refreshToken")

        $.ajax({
          type: "POST",
          url: "http://localhost:8080/auth/token/regenerate",
          contentType : "application/json; charset=utf-8",
          data: JSON.stringify({
            refreshToken: refreshToken
          }),
          success: function (response) {
            localStorage.setItem('accessToken', response.accessToken)
            localStorage.setItem("refreshToken", response.refreshToken)
          },error: function(response){
            console.log("에러 : ", response)
          }
        })
      }

      function setCategory(value) {
        category = value;
      }

      function formatSearchText(){
        title = "";
        contents = "";
        nickname = "";
        if(category == "0"){
          title = $("#serch-text").val();
        }else if(category == "1"){
          contents = $("#serch-text").val();
        }else if(category == "2"){
          nickname = $("#serch-text").val();
        }
      }

      function setSort(value) {
            sort = "";
            if(value == "0"){
                sort = "likeDesc"
            }else if(value == "1"){
                sort = "dateDesc"
            }
            getCommunityList(0);
      }

      function selectChat(){
          var checked = $('.form-check-input:checked').val()
          if(checked){
            chatStatus = "Y"
          }else{
            chatStatus = ""
          }
          getCommunityList(0);
      }

      function setCommunityId(id){
        localStorage.setItem("communityId", id)
      }

      function moveMainPage(){
          window.location = "./../index.html"
      }

    </script>
  </body>
</html>
