<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="theme-color" content="#fafafa" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>올라 커뮤니티</title>
    <style>
      .container {
        width: 1200px;
        padding: 0;
        /* background-color: #fffbf4; */
      }

      /* 부트스트랩 버튼의 호버, 포커스 기능 빼기 */
      .btn:active,
      .btn:focus,
      .btn:hover {
        outline: none !important;
        box-shadow: none !important;
        background-color: #f46b3f;
        border: 1px solid #f46b3f;
      }

      /* 제목 및 컨텐츠 카드 css */
      .read-post-box {
        padding: 100px 0 0 0;
      }
      .post-card-body {
        /*height: 600px;*/
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .post-card-body::-webkit-scrollbar {
        display: none;
      }
      .post-card-body > img {
        width: 100%;
      }

      /* 태그 박스 css */
      .tag-read-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .tag-wrap {
        display: flex;
        justify-content: start;
        align-items: center;
      }
      .tag-wrap > span,
      .like-title{
        /*width: 70px;*/
        margin-right: 20px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        font-weight: bold;
        /*margin-left: 10px;*/
      }
      .tag-box {
        padding: 5px;
        width: 300px;
        border: 1px solid #dddddd;
        border-radius: 5px;
      }
      /* 채팅버튼 css */
      .btn-chating-post {
        width: 200px;
        background-color: #f46b3f;
        border: 1px solid #f46b3f;
        margin-right: 20px;
      }
      /* 좋아요 레이아웃 css */

      .like-box {
        height: 50px;
        border-bottom: 1px solid #d9d9d9;
      }

      .comment-create {
        display: flex;
      }
      .comment-create > button {
        margin-left: 20px;
        width: 100px;
        border: 1px solid #f46b3f;
        color: #f46b3f;
      }

      .comment-read-box {
        display: flex;
        justify-content: start;
      }

      /* 프로필 박스 */
      .comment-profile-box {
        width: 120px;
        display: flex;
        align-items: center;
        height: 60px;
        color: #666666;
        margin-right: 40px;
        /*line-height: 60px;*/
      }
      .comment-profile-box > img {
        width: 50px;
        border-radius: 50px;
      }

      /* 댓글내용 */

      .comment-content-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .comment-read-box {
        display: flex;
        align-items: center;
      }

      .comment-content-box {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .comment-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .comment-content > span {
        margin: 10px;
      }

      .btn-date-wrap {
        width: 300px;
        display: flex;
        justify-content: space-between;
      }

      .comment-btn-box {
        width: 110px;
        margin: 0 10px;
        /* display: flex;
        align-items: center; */
      }

      .comment-btn {
        padding: 0;
        margin: 0;
        width: 50px;
        height: 80px;
        border: none;
        color: #f46b3f;
        background-color: white;
      }
      .date-box {
        width: 100px;
        height: 80px;
        margin: 0;
        padding: 0;
      }
      .date-box > p {
        line-height: 80px;
        text-align: center;
      }

      /* 댓글 좋아요 */
      .commetn-like-box > img {
        margin-left: 10px;
        width: 20px;
      }

      .comment-box {
        margin-bottom: 30px;
      }
      .bottomBtn {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 100px;
      }
      .btns {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .btns > button {
        width: 160px;
        height: 50px;
        background-color: white;
        border: 1px solid #f46b3f;
        color: #f46b3f;
      }

      .form-check-input:checked {
        background-color: #f46b3f;
        border-color: #f46b3f;
      }

      .page-link,
      .page-link:hover,
      .page-link:active,
      .page-link:focus {
        color: #f46b3f;
      }
    </style>
  </head>
  <body>
    <!-- ############# 네비게이션 #############-->
    <header class="menu">
      <div class="bg-line"></div>
      <div class="logo-wrap">
        <img class="img" src="./../static/img/logo_main.png" alt="로고" />
      </div>
      <div class="item-list">
        <a href="./g-1_recommend.html">코스추천</a>
        <a
          href="h-1_communityMain.html"
          style="font-weight: bold; color: #f46b3f"
          >커뮤니티</a
        >
        <a href="./i-1_shopMain.html">쇼핑몰</a>
        <a href="./j-1_noticeMain.html">공지사항</a>
      </div>
      <div class="right">
        <div class="friend">
          <div class="icon-friend" onclick="handleToggleFriendDropBox()">
            <img class="img" src="./../static/img/icon_friends.png" />
          </div>
          <div class="friend-dropbox">
            <div class="search-area">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="닉네임 검색"
                />
              </div>
              <div class="btn-wrap">
                <button type="button" class="btn btn-primary search-btn">
                  검색
                </button>
              </div>
            </div>
            <ul class="friend-list">
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">1:1 채팅</button>
                </div>
              </li>
            </ul>
            <div class="line"></div>
            <p class="recommend-title">추천 친구</p>
            <ul class="friend-list">
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
              <li>
                <div class="left">
                  <div class="img-wrap">
                    <img
                      class="img"
                      src="./../static/img/icon_profile_default.png"
                    />
                  </div>
                  <p class="name">오메가오메오메</p>
                  <button type="button" class="btn btn-link">친구 추가</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="bell">
          <div class="icon-bell" onclick="handleToggleBellDropBox()">
            <img class="img" src="./../static/img/icon_bell.png" />
          </div>
          <div class="bell-dropbox">
            <p>알람</p>
            <ul>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
              <li>
                <a href="#"
                  >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
                >
              </li>
            </ul>
          </div>
        </div>
        <a id="my-profile" class="my-profile-wrap" href="./f-1_myPage.html">
<!--          <div class="img-wrap">-->
<!--            <img class="img" src="./../static/img/icon_profile_default.png " />-->
<!--          </div>-->
<!--          <p class="text">나와바리나와바님</p>-->
        </a>
      </div>
    </header>

    <!-- ############# 작업공간 #############-->
    <!-- 메인 컨테이너 -->
    <main class="container">
      <section class="header">
        <div class="read-post-box">
          <div class="mb-3 cteate-post">
            <div id="contents-area" class="card">
<!--              <div class="card-header">제목</div>-->
<!--              <div class="card-body post-card-body">-->
<!--                <p class="card-text">같이 등산해요~</p>-->
<!--                <img-->
<!--                  src="/static/img/DefaultMountain.png"-->
<!--                  alt="산 기본이미지"-->
<!--                />-->
<!--              </div>-->
            </div>
          </div>
          <div id="img-wrap">

          </div>

          <!-- 태그 레이아웃 -->
          <div class="tag-read-box">
            <div id="tag-wrap" class="tag-wrap">
              <span>태그</span>
<!--              <div style="padding: 8px 14px; border: 1px solid #F46B3F; border-radius: 50px; font-size: 12px; font-weight: bold">-->
<!--                #가을산-->
<!--              </div>-->
            </div>
            <div class="chating-btn-wrap">
              <a
                href="./h-4_chat.html"
                onClick="window.open(this.href, '', 'width=500, height=700'); return false;"
              >
                <button type="button" class="btn btn-primary btn-chating-post">
                  채팅방 참여하기
                </button>
              </a>
            </div>
          </div>
          <!-- 좋아요 레이아웃-->
          <!-- TODO 버튼으로 만들고 좋아요/좋아요해제 연동 -->
          <div id="like-wrap" style="display: flex; align-items: center">
            <span class="like-title">좋아요</span>
            <div style="width: 24px; height: 24px; display: flex; justify-content: center; align-items: center; overflow:hidden; margin-right: 5px">
              <img src="/static/img/heart.png" alt="좋아요아이콘" style="width: 100%" />
            </div>
<!--            <span style="font-size: 14px; font-weight: bold">5422</span>-->
          </div>
          <!-- 댓글-->
          <div id="comment-wrap" class="comment-box" style="padding-top: 20px">
            <!-- 댓글입력창 -->
            <div  class="comment-create" style="margin-bottom: 10px">
              <input
                type="text"
                class="form-control post-content"
                id="tagFormControlInput1"
                placeholder="댓글을 입력해주세요"
                style="outline: none"
              />
              <button
                type="button"
                class="btn create-comment btn-outline-warning"
              >
                댓글쓰기
              </button>
            </div>

<!--            &lt;!&ndash; 댓글아티클 &ndash;&gt;-->
<!--            <div class="comment-read-box">-->
<!--              &lt;!&ndash; 프로필 &ndash;&gt;-->
<!--              <div class="comment-profile-box">-->
<!--                <div-->
<!--                  style="-->
<!--                    display: flex;-->
<!--                    width: 40px;-->
<!--                    height: 40px;-->
<!--                    border-radius: 100%;-->
<!--                    overflow: hidden;-->
<!--                    margin-right: 10px;-->
<!--                  "-->
<!--                >-->
<!--                  <img-->
<!--                    src="/static/img/icon_profile_default.png"-->
<!--                    alt="프로필이미지"-->
<!--                    style="width: 100%"-->
<!--                  />-->
<!--                </div>-->
<!--                <span>이재원</span>-->
<!--              </div>-->
<!--              &lt;!&ndash; 댓글내용 &ndash;&gt;-->
<!--              <div class="comment-content-wrap">-->
<!--                <div class="comment-content-box">-->
<!--                  <div class="comment-content">-->
<!--                    <span>우와 가까웠으면 갔을텐데...</span>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; 좋아요 &ndash;&gt;-->
<!--                  <div-->
<!--                    class="commetn-like-box"-->
<!--                    style="cursor: pointer"-->
<!--                    onclick=""-->
<!--                  >-->
<!--                    <img src="/static/img/unHeart.png" alt="좋아요아이콘" />-->
<!--                    <span>5</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; 날짜 &ndash;&gt;-->
<!--                <div class="btn-date-wrap">-->
<!--                  <div class="comment-btn-box">-->
<!--                    <button type="button" class="comment-btn">수정</button>-->
<!--                    <button type="button" class="comment-btn">삭제</button>-->
<!--                  </div>-->
<!--                  <div class="date-box">-->
<!--                    <p>2023-02-06</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; 댓글아티클 &ndash;&gt;-->
<!--            <div class="comment-read-box">-->
<!--              &lt;!&ndash; 프로필 &ndash;&gt;-->
<!--              <div class="comment-profile-box">-->
<!--                <div-->
<!--                  style="-->
<!--                    display: flex;-->
<!--                    width: 40px;-->
<!--                    height: 40px;-->
<!--                    border-radius: 100%;-->
<!--                    overflow: hidden;-->
<!--                    margin-right: 10px;-->
<!--                  "-->
<!--                >-->
<!--                  <img-->
<!--                    src="/static/img/icon_profile_default.png"-->
<!--                    alt="프로필이미지"-->
<!--                    style="width: 100%"-->
<!--                  />-->
<!--                </div>-->
<!--                <span>이재원</span>-->
<!--              </div>-->
<!--              &lt;!&ndash; 댓글내용 &ndash;&gt;-->
<!--              <div class="comment-content-wrap">-->
<!--                <div class="comment-content-box">-->
<!--                  <div class="comment-content">-->
<!--                    <span>우와 가까웠으면 갔을텐데...</span>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; 좋아요 &ndash;&gt;-->
<!--                  <div-->
<!--                    class="commetn-like-box"-->
<!--                    style="cursor: pointer"-->
<!--                    onclick=""-->
<!--                  >-->
<!--                    <img src="/static/img/unHeart.png" alt="좋아요아이콘" />-->
<!--                    <span>3</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; 날짜 &ndash;&gt;-->
<!--                <div class="btn-date-wrap">-->
<!--                  <div class="comment-btn-box">-->
<!--                    &lt;!&ndash; <button type="button" class="comment-btn">수정</button>-->
<!--                    <button type="button" class="comment-btn">삭제</button> &ndash;&gt;-->
<!--                  </div>-->
<!--                  <div class="date-box">-->
<!--                    <p>2023-02-06</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; 댓글아티클 &ndash;&gt;-->
<!--            <div class="comment-read-box">-->
<!--              &lt;!&ndash; 프로필 &ndash;&gt;-->
<!--              <div class="comment-profile-box">-->
<!--                <div-->
<!--                  style="-->
<!--                    display: flex;-->
<!--                    width: 40px;-->
<!--                    height: 40px;-->
<!--                    border-radius: 100%;-->
<!--                    overflow: hidden;-->
<!--                    margin-right: 10px;-->
<!--                  "-->
<!--                >-->
<!--                  <img-->
<!--                    src="/static/img/icon_profile_default.png"-->
<!--                    alt="프로필이미지"-->
<!--                    style="width: 100%"-->
<!--                  />-->
<!--                </div>-->
<!--                <span>이재원</span>-->
<!--              </div>-->
<!--              &lt;!&ndash; 댓글내용 &ndash;&gt;-->
<!--              <div class="comment-content-wrap">-->
<!--                <div class="comment-content-box">-->
<!--                  <div class="comment-content">-->
<!--                    <span>우와 가까웠으면 갔을텐데...</span>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; 좋아요 &ndash;&gt;-->
<!--                  <div-->
<!--                    class="commetn-like-box"-->
<!--                    style="cursor: pointer"-->
<!--                    onclick=""-->
<!--                  >-->
<!--                    <img src="/static/img/heart.png" alt="좋아요아이콘" />-->
<!--                    <span>2</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; 날짜 &ndash;&gt;-->
<!--                <div class="btn-date-wrap">-->
<!--                  <div class="comment-btn-box">-->
<!--                    &lt;!&ndash; <button type="button" class="comment-btn">수정</button>-->
<!--                    <button type="button" class="comment-btn">삭제</button> &ndash;&gt;-->
<!--                  </div>-->
<!--                  <div class="date-box">-->
<!--                    <p>2023-02-06</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; 댓글아티클 &ndash;&gt;-->
<!--            <div class="comment-read-box">-->
<!--              &lt;!&ndash; 프로필 &ndash;&gt;-->
<!--              <div class="comment-profile-box">-->
<!--                <div-->
<!--                  style="-->
<!--                    display: flex;-->
<!--                    width: 40px;-->
<!--                    height: 40px;-->
<!--                    border-radius: 100%;-->
<!--                    overflow: hidden;-->
<!--                    margin-right: 10px;-->
<!--                  "-->
<!--                >-->
<!--                  <img-->
<!--                    src="/static/img/icon_profile_default.png"-->
<!--                    alt="프로필이미지"-->
<!--                    style="width: 100%"-->
<!--                  />-->
<!--                </div>-->
<!--                <span>이재원</span>-->
<!--              </div>-->
<!--              &lt;!&ndash; 댓글내용 &ndash;&gt;-->
<!--              <div class="comment-content-wrap">-->
<!--                <div class="comment-content-box">-->
<!--                  <div class="comment-content">-->
<!--                    <span>우와 가까웠으면 갔을텐데...</span>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; 좋아요 &ndash;&gt;-->
<!--                  <div-->
<!--                    class="commetn-like-box"-->
<!--                    style="cursor: pointer"-->
<!--                    onclick=""-->
<!--                  >-->
<!--                    <img src="/static/img/unHeart.png" alt="좋아요아이콘" />-->
<!--                    <span>5</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; 날짜 &ndash;&gt;-->
<!--                <div class="btn-date-wrap">-->
<!--                  <div class="comment-btn-box">-->
<!--                    &lt;!&ndash; <button type="button" class="comment-btn">수정</button>-->
<!--                    <button type="button" class="comment-btn">삭제</button> &ndash;&gt;-->
<!--                  </div>-->
<!--                  <div class="date-box">-->
<!--                    <p>2023-02-06</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <!--   페이지네이션/작성버튼     -->
          <div class="bottomBtn">
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="btns">
              <button
                type="button"
                class="modifyBtn btn btn-primary btn-search"
              >
                수정
              </button>
              <button
                type="button"
                class="deleteBtn btn btn-primary btn-search"
              >
                삭제
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script>
      // 파일 업로드 스크립트 설정
      $("#file").on("change", function () {
        var fileName = $("#file").val();
        $(".upload-name").val(fileName);
      });
    </script>
    <script>
      var communityId = localStorage.getItem("communityId");
      var accessToken = localStorage.getItem("accessToken");
      $(document).ready(function () {
        $(".friend-dropbox").hide();
        $(".bell-dropbox").hide();
        getMenuProfile();
        getCommunity();
      });

      function getMenuProfile(){
        var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
        var tempProfile = `
          <div class="img-wrap">
            <img class="img" style="width: 100%; height: auto" src=${menuProfile.profileImage} alt="프로필사진"/>
          </div>
          <p class="text">${menuProfile.sub}님</p>
`
        $("#my-profile").append(tempProfile);
      }
      function handleToggleBellDropBox() {
        $(".bell-dropbox").toggle();
        $(".friend-dropbox").hide();
      }

      function handleToggleFriendDropBox() {
        $(".friend-dropbox").toggle();
        $(".bell-dropbox").hide();
      }

      function getCommunity() {
        $.ajax({
          type: "GET",
          url: "http://localhost:8080/boards/communities/" + communityId,
          beforeSend: function (xlr) {
            xlr.setRequestHeader("Authorization", accessToken)
          },
          success: function (response) {
            console.log("response : ", response);

            // 컨텐츠 넣기
            let tempContentsArea = `
              <div class="card-header">${response.title}</div>
              <div class="card-body post-card-body">
                <p class="card-text">${response.contents}</p>
              </div>
            `
            $("#contents-area").append(tempContentsArea);
            for(let i=0; i<response.imgList.length; i++){
              let temp = `
                <div style="width: 400px; height: 247px; display: flex; justify-content: center; align-items: center; overflow: hidden; background-color: #D2D2D2; margin-bottom: 15px; margin-left: 20px">
                  <img src=${response.imgList[i]} alt="이미지" style="width: 100%"/>
                </div>
              `
              $("#contents-area").append(temp);
            }

            // 태그 넣기
            for (let i=0; i<response.tagList.length; i++){
              var temp = `
                <div style="padding: 8px 14px; border: 1px solid #F46B3F; border-radius: 50px; font-size: 12px; font-weight: bold; margin-right: 5px;">
                  #${response.tagList[i].name}
                </div>
              `
              $("#tag-wrap").append(temp);
            }

            // 좋아요 수 넣기
            var tempLike = `
              <span style="font-size: 14px; font-weight: bold">${response.likeCount}</span>
            `
            $("#like-wrap").append(tempLike);

            // 댓글 넣기
            console.log("response.commentList.length : ", response.commentList.length)
            for (let i=0; i<response.commentList.length; i++){
              var tempComment = `
                <div class="comment-read-box">
                <!-- 프로필 -->
                <div class="comment-profile-box">
                  <div
                    style="
                      display: flex;
                      width: 40px;
                      height: 40px;
                      border-radius: 100%;
                      overflow: hidden;
                      margin-right: 10px;
                    "
                  >
                    <img
                      src="/static/img/icon_profile_default.png"
                      alt="프로필이미지"
                      style="width: 100%"
                    />
                  </div>
                  <span>${response.commentList[i].nickName}</span>
                </div>
                <!-- 댓글내용 -->
                <div class="comment-content-wrap">
                  <div class="comment-content-box">
                    <div class="comment-content">
                      <span>${response.commentList[i].contents}</span>
                    </div>
                    <!-- 좋아요 -->
                    TODO
                    <div
                      class="commetn-like-box"
                      style="cursor: pointer"
                      onclick=""
                    >
                      <img src="/static/img/unHeart.png" alt="좋아요아이콘" />
                      <span>${response.commentList[i].likeCount}</span>
                    </div>
                  </div>
                  <!-- 날짜 -->
                  <div class="btn-date-wrap">
                    <div class="comment-btn-box">

                      <button type="button" class="comment-btn">수정</button>
                      <button type="button" class="comment-btn">삭제</button>
                    </div>
                    <div class="date-box">
                      <p>${response.commentList[i].createAt.substring(0, 10)}</p>
                    </div>
                  </div>
                </div>
              </div>
              `
              $("#comment-wrap").append(tempComment);
            }
          },
        })
      }

      function deleteCommunityComment() {
        const id = localStorage.getItem("communityCommentId");
        const commentId = localStorage
          .getItem("communityBoardId")
          .getItem("communityCommentId");
        console.log("id : " + id);
        $.ajax({
          type: "DELETE",
          url: `http://localhost:8080/boards/communities/${id}`,
          // dataType: "text",
          contentType: "application/json; charset=utf-8",
          beforeSend: function (xlr) {
            xlr.setRequestHeader(
              "Authorization",
              localStorage.getItem("accessToken")
            );
          },
          // data: JSON.stringify({
          //     "title" : $("#title").val(),
          //     "contents" : $("#contents").val(),
          //     "category" : category
          // }),
          success: function (response) {
            alert("삭제 완료");
            window.location.href = "h-1_communityMain.html";
          },
          error: function (xhr) {
            console.log(
              "[requestPostBodyJson] : [error] : " + JSON.stringify(xhr)
            );
          },
        });
      }
    </script>
  </body>
</html>
