<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="manifest" href="site.webmanifest"/>
  <link rel="apple-touch-icon" href="icon.png"/>
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../css/normalize.css"/>
  <link rel="stylesheet" href="../css/main.css"/>
  <link rel="stylesheet" href="../css/reset.css"/>
  <link rel="stylesheet" href="../css/menu.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="theme-color" content="#fafafa"/>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
  />
  <title>올라 커뮤니티</title>
  <style>
    .container {
      width: 1200px;
      padding: 0;
      /* background-color: #fffbf4; */
    }

    /* 부트스트랩 버튼의 호버, 포커스 기능 빼기 */
    .btn:active,
    .btn:focus,
    .btn:hover {
      outline: none !important;
      box-shadow: none !important;
      background-color: #f46b3f;
      border: 1px solid #f46b3f;
    }

    /* 제목 및 컨텐츠 카드 css */
    .read-post-box {
      padding: 100px 0 0 0;
    }

    .post-card-body {
      /*height: 600px;*/
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .post-card-body::-webkit-scrollbar {
      display: none;
    }

    .post-card-body > img {
      width: 100%;
    }

    /* 태그 박스 css */
    .tag-read-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .tag-wrap {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 600px;
    }

    .tag-wrap > span,
    .like-title {
      /*width: 70px;*/
      margin-right: 20px;
      height: 50px;
      line-height: 50px;
      font-size: 15px;
      font-weight: bold;
      /*margin-left: 10px;*/
    }

    .tag-box {
      padding: 5px;
      width: 300px;
      border: 1px solid #dddddd;
      border-radius: 5px;
    }

    /* 채팅버튼 css */
    .btn-chating-post {
      width: 200px;
      background-color: #f46b3f;
      border: 1px solid #f46b3f;
    }

    .btn-chating-post:disabled {
      width: 200px;
      background-color: #D2D2D2;
      border: 1px solid #D2D2D2;
    }

    /* 좋아요 레이아웃 css */

    .like-box {
      height: 50px;
      border-bottom: 1px solid #d9d9d9;
    }

    .comment-create {
      display: flex;
    }

    .comment-create > button {
      margin-left: 20px;
      width: 100px;
      border: 1px solid #f46b3f;
      color: #f46b3f;
    }

    .comment-read-box {
      display: flex;
      justify-content: start;
    }

    /* 프로필 박스 */
    .comment-profile-box {
      width: 120px;
      display: flex;
      align-items: center;
      height: 60px;
      color: #666666;
      margin-right: 40px;
      /*line-height: 60px;*/
    }

    .comment-profile-box > img {
      width: 50px;
      border-radius: 50px;
    }

    /* 댓글내용 */

    .comment-content-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .comment-read-box {
      display: flex;
      align-items: center;
    }

    .comment-content-box {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .comment-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .comment-content > span {
      margin: 10px;
    }

    .btn-date-wrap {
      width: 300px;
      display: flex;
      justify-content: space-between;
    }

    .comment-btn-box {
      width: 110px;
      margin: 0 10px;
      /* display: flex;
      align-items: center; */
    }

    .comment-btn {
      padding: 0;
      margin: 0;
      width: 50px;
      height: 80px;
      border: none;
      color: #f46b3f;
      background-color: white;
    }

    .date-box {
      width: 100px;
      height: 80px;
      margin: 0;
      padding: 0;
    }

    .date-box > p {
      line-height: 80px;
      text-align: center;
    }

    /* 댓글 좋아요 */
    .commetn-like-box > img {
      margin-left: 10px;
      width: 20px;
    }

    .comment-box {
      margin-bottom: 30px;
    }

    .bottomBtn {
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 200px;
    }

    .btns {
      position: absolute;
      bottom: -100px;
      right: 0;
    }

    .btns > button {
      width: 160px;
      height: 50px;
      background-color: white;
      border: 1px solid #f46b3f;
      color: #f46b3f;
    }

    .form-check-input:checked {
      background-color: #f46b3f;
      border-color: #f46b3f;
    }

    .page-link,
    .page-link:hover,
    .page-link:active,
    .page-link:focus {
      color: #f46b3f;
    }
  </style>
</head>
<body>
<!-- ############# 네비게이션 #############-->
<header class="menu">
  <div class="bg-line"></div>
  <div class="logo-wrap">
    <img class="img" src="./../static/img/logo_main.png" alt="로고"/>
  </div>
  <div class="item-list">
    <a href="./g-1_recommend.html">코스추천</a>
    <a
        href="h-1_communityMain.html"
        style="font-weight: bold; color: #f46b3f"
    >커뮤니티</a
    >
    <a href="./i-1_shopMain.html">쇼핑몰</a>
    <a href="./j-1_noticeMain.html">공지사항</a>
  </div>
  <div class="right">
    <div class="friend">
      <div class="icon-friend" onclick="handleToggleFriendDropBox()">
        <img class="img" src="./../static/img/icon_friends.png"/>
      </div>
      <div class="friend-dropbox">
        <div class="search-area">
          <div class="mb-3">
            <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="닉네임 검색"
            />
          </div>
          <div class="btn-wrap">
            <button type="button" class="btn btn-primary search-btn">
              검색
            </button>
          </div>
        </div>
        <ul class="friend-list">
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">1:1 채팅</button>
            </div>
          </li>
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">1:1 채팅</button>
            </div>
          </li>
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">1:1 채팅</button>
            </div>
          </li>
        </ul>
        <div class="line"></div>
        <p class="recommend-title">추천 친구</p>
        <ul class="friend-list">
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">친구 추가</button>
            </div>
          </li>
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">친구 추가</button>
            </div>
          </li>
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">친구 추가</button>
            </div>
          </li>
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">친구 추가</button>
            </div>
          </li>
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">친구 추가</button>
            </div>
          </li>
          <li>
            <div class="left">
              <div class="img-wrap">
                <img
                    class="img"
                    src="./../static/img/icon_profile_default.png"
                />
              </div>
              <p class="name">오메가오메오메</p>
              <button type="button" class="btn btn-link">친구 추가</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="bell">
      <div class="icon-bell" onclick="handleToggleBellDropBox()">
        <img class="img" src="./../static/img/icon_bell.png"/>
      </div>
      <div class="bell-dropbox">
        <p>알람</p>
        <ul>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
          <li>
            <a href="#"
            >공지사항 내용이 추가되었습니다 언능 확인해주세요!</a
            >
          </li>
        </ul>
      </div>
    </div>
    <a id="my-profile" class="my-profile-wrap" href="./f-1_myPage.html">
      <!--          <div class="img-wrap">-->
      <!--            <img class="img" src="./../static/img/icon_profile_default.png " />-->
      <!--          </div>-->
      <!--          <p class="text">나와바리나와바님</p>-->
    </a>
  </div>
</header>

<!-- ############# 작업공간 #############-->
<!-- 메인 컨테이너 -->
<main class="container">
  <section class="header">
    <div class="read-post-box">
      <div class="mb-3 cteate-post">
        <div id="contents-area" class="card">

        </div>
      </div>
      <div id="img-wrap"></div>

      <!-- 태그 레이아웃 -->
      <div class="tag-read-box">
        <div id="tag-wrap" class="tag-wrap">
          <span>태그</span>
        </div>
        <div class="crew">

        </div>
        <div class="chating-btn-wrap">
          <button type="button" class="btn btn-primary btn-chating-post" id="enterChat"
                  onclick="roomMemberCnt()">채팅방 참여하기
          </button>
          </a>
        </div>
      </div>
      <!-- 좋아요 레이아웃-->
      <div id="like-wrap" style="display: flex; align-items: center">
        <span class="like-title">좋아요</span>
        <div id="like-btn" style="display: flex; align-items: center">
          <!-- 좋아요 버튼 자리 -->
        </div>
      </div>
      <!-- 댓글-->
      <div class="comment-box" style="padding-top: 20px">
        <!-- 댓글입력창 -->
        <div class="comment-create" style="margin-bottom: 10px">
          <input
              type="text"
              class="form-control post-content"
              id="comment"
              placeholder="댓글을 입력해주세요"
              style="outline: none"
          />
          <button class="btn create-comment btn-outline-warning" onclick="commentCreate()">댓글쓰기</button>
        </div>
        <div id="comment-wrap"></div>

        <!--            &lt;!&ndash; 댓글아티클 &ndash;&gt;-->
        <!--            <div class="comment-read-box">-->
        <!--              &lt;!&ndash; 프로필 &ndash;&gt;-->
        <!--              <div class="comment-profile-box">-->
        <!--                <div-->
        <!--                  style="-->
        <!--                    display: flex;-->
        <!--                    width: 40px;-->
        <!--                    height: 40px;-->
        <!--                    border-radius: 100%;-->
        <!--                    overflow: hidden;-->
        <!--                    margin-right: 10px;-->
        <!--                  "-->
        <!--                >-->
        <!--                  <img-->
        <!--                    src="/static/img/icon_profile_default.png"-->
        <!--                    alt="프로필이미지"-->
        <!--                    style="width: 100%"-->
        <!--                  />-->
        <!--                </div>-->
        <!--                <span>이재원</span>-->
        <!--              </div>-->
        <!--              &lt;!&ndash; 댓글내용 &ndash;&gt;-->
        <!--              <div class="comment-content-wrap">-->
        <!--                <div class="comment-content-box">-->
        <!--                  <div class="comment-content">-->
        <!--                    <span>우와 가까웠으면 갔을텐데...</span>-->
        <!--                  </div>-->
        <!--                  &lt;!&ndash; 좋아요 &ndash;&gt;-->
        <!--                  <div-->
        <!--                    class="commetn-like-box"-->
        <!--                    style="cursor: pointer"-->
        <!--                    onclick=""-->
        <!--                  >-->
        <!--                    <img src="/static/img/unHeart.png" alt="좋아요아이콘" />-->
        <!--                    <span>3</span>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                &lt;!&ndash; 날짜 &ndash;&gt;-->
        <!--                <div class="btn-date-wrap">-->
        <!--                  <div class="comment-btn-box">-->
        <!--                    &lt;!&ndash; <button type="button" class="comment-btn">수정</button>-->
        <!--                    <button type="button" class="comment-btn">삭제</button> &ndash;&gt;-->
        <!--                  </div>-->
        <!--                  <div class="date-box">-->
        <!--                    <p>2023-02-06</p>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
      </div>
      <!--   페이지네이션/작성버튼     -->
      <div class="bottomBtn">
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" onclick="getCommunity(0)"
                >1</a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="#" onclick="getCommunity(1)"
                >2</a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="#" onclick="getCommunity(2)"
                >3</a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="btns">
          <button
              type="button"
              class="modifyBtn btn btn-primary btn-search"
              onclick="moveModifyPage()"
          >
            수정
          </button>
          <button
              type="button"
              class="deleteBtn btn btn-primary btn-search"
              onclick="deleteBeforeRoomCheck()"
          >
            삭제
          </button>
          <button
              type="button"
              class="btn btn-primary btn-search"
              style="background-color: #f46b3f; border: none; color: white"
              onclick="moveMainPage()"
          >
            목록
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
  // 파일 업로드 스크립트 설정
  $("#file").on("change", function () {
    var fileName = $("#file").val();
    $(".upload-name").val(fileName);
  });
</script>
<script>
  var communityId = localStorage.getItem("communityId");
  console.log("communityId : ", communityId);
  var accessToken = localStorage.getItem("accessToken");

  $(document).ready(function () {
    $(".friend-dropbox").hide();
    $(".bell-dropbox").hide();
    getMenuProfile();
    getCommunity(0);
  });

  function getMenuProfile() {
    var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
    var tempProfile = `
          <div class="img-wrap">
            <img class="img" style="width: 100%; height: auto" src=${menuProfile.profileImage
        ? menuProfile.profileImage : "./../static/img/icon_profile_default.png"} alt="프로필사진"/>
          </div>
          <p class="text">${menuProfile.sub}님</p>
`;
    $("#my-profile").append(tempProfile);
  }

  function handleToggleBellDropBox() {
    $(".bell-dropbox").toggle();
    $(".friend-dropbox").hide();
  }

  function handleToggleFriendDropBox() {
    $(".friend-dropbox").toggle();
    $(".bell-dropbox").hide();
  }

  function getCommunity(commentPage) {
    var accessToken = localStorage.getItem("accessToken");
    var menuProfile = JSON.parse(localStorage.getItem("menuProfile"));
    $.ajax({
      type: "GET",
      url:
          "http://localhost:8080/boards/communities/" +
          communityId +
          "?commentPage=" +
          commentPage +
          "&commentSize=4",
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken);
      },
      success: function (response) {

        roomMemberCnt();
        // 컨텐츠 넣기
        $("#contents-area").empty();
        let tempContentsArea = `
              <div class="card-header">${response.title}</div>
              <div class="card-body post-card-body">
                <p class="card-text">${response.contents}</p>
              </div>
            `;
        $("#contents-area").append(tempContentsArea);

        for (let i = 0; i < response.imgList.length; i++) {
          let temp = `
                <div style="width: 400px; height: 247px; display: flex; justify-content: center; align-items: center; overflow: hidden; background-color: #D2D2D2; margin-bottom: 15px; margin-left: 20px">
                  <img src=${response.imgList[i]} alt="이미지" style="width: 100%"/>
                </div>
              `;
          $("#contents-area").append(temp);
        }

        // 태그 넣기
        $("#tag-wrap").empty();
        for (let i = 0; i < response.tagList.length; i++) {
          var temp = `
                <div style="padding: 8px 14px; border: 1px solid #F46B3F; border-radius: 50px; font-size: 12px; font-weight: bold; margin-right: 5px;">
                  #${response.tagList[i].name}
                </div>
              `;
          $("#tag-wrap").append(temp);
        }

        //(내가 좋아요 한 경우) 빨간하트
        var tempHeart;
        $("#like-btn").empty();
        if (response.isLike) {
          tempHeart = `
                <div style="width: 24px; height: 24px; display: flex; justify-content: center; align-items: center; overflow:hidden; margin-right: 5px; cursor: pointer"
                  onclick="unlikeCommunity()"
                >
                  <img src="/static/img/heart.png" alt="좋아요아이콘" style="width: 100%" />
                </div>
              `;
        } else {
          tempHeart = `
                <div style="width: 24px; height: 24px; display: flex; justify-content: center; align-items: center; overflow:hidden; margin-right: 5px; cursor: pointer"
                  onclick="likeCommunity()"
                >
                  <img src="/static/img/unHeart.png" alt="회색 좋아요아이콘" style="width: 100%" />
                </div>
              `;
        }
        $("#like-btn").append(tempHeart);

        // 좋아요 수 넣기
        var tempLike = `
              <span style="font-size: 14px; font-weight: bold">${response.likeCount}</span>
            `;
        $("#like-btn").append(tempLike);

        // 댓글 넣기
        $("#comment-wrap").empty();

        for (let i = 0; i < response.commentList.length; i++) {
          var tempComment = `
                <div class="comment-read-box">
                <!-- 프로필 -->
                <div class="comment-profile-box">
                  <div
                    style="
                      display: flex;
                      width: 40px;
                      height: 40px;
                      border-radius: 100%;
                      overflow: hidden;
                      margin-right: 10px;
                    "
                  >
                    <img
                      src=${
              response.commentList[i].profileImage
                  ? response.commentList[i].profileImage
                  : "/static/img/icon_profile_default.png"
          }
                      alt="프로필이미지"
                      style="width: 100%"
                    />
                  </div>
                  <span>${response.commentList[i].nickName}</span>
                </div>
                <!-- 댓글내용 -->
                <div class="comment-content-wrap">
                  <div class="comment-content-box">
                    <div class="comment-content">
                      <span>${response.commentList[i].contents}</span>
                    </div>
                    <!-- 좋아요 -->
                    <div
                      class="commetn-like-box"
                      style="cursor: pointer"
                      onclick=""
                    >

                      <img src=${
              response.commentList[i].isLike
                  ? "/static/img/heart.png"
                  : "/static/img/unHeart.png"
          } alt="좋아요아이콘"
                        onClick="likeComment(${
              response.commentList[i].isLike
          }, ${response.commentList[i].id})"/>
                      <span>${response.commentList[i].likeCount}</span>
                    </div>
                  </div>
                  <!-- 날짜 -->
                  <div class="btn-date-wrap">
                    <div class="comment-btn-box">
                      <!-- TODO 자기 userId만 수정 삭제 버튼이 뜨게 수정 -->
                      <!-- <button type="button" class="comment-btn" >${
              response.commentList[i].nickName == menuProfile.nickname
                  ? "수정"
                  : ""
          }</button> -->
                      <button type="button" class="comment-btn" onclick="commentDelete(${
              response.commentList[i].id
          })">${
              response.commentList[i].nickName == menuProfile.nickname
                  ? "삭제"
                  : ""
          }</button>
                    </div>
                    <div class="date-box">
                      <p>${response.commentList[i].createAt.substring(
              0,
              10
          )}</p>
                    </div>
                  </div>
                </div>
              </div>
              `;
          $("#comment-wrap").append(tempComment);
        }
        // menuProfile
        // <button type="button" className="comment-btn">${response.commentList[i].nickName
        //     ==}</button>
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          getCommunity(0);
        }
      },
    });
  }

  function deleteCommunity() {
    $.ajax({
      type: "DELETE",
      url: `http://localhost:8080/boards/communities/${communityId}`,
      contentType: "application/json; charset=utf-8",
      beforeSend: function (xlr) {
        xlr.setRequestHeader(
            "Authorization",
            localStorage.getItem("accessToken")
        );
      },
      success: function (response) {
        alert("삭제 완료");
        window.location.href = "h-1_communityMain.html";
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          deleteCommunity();
        }
      },
    });
  }

  function commentCreate() {
    var accessToken = localStorage.getItem("accessToken");
    $.ajax({
      type: "POST",
      url: "http://localhost:8080/comments/communities/" + communityId,
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken);
      },
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        contents: $("#comment").val(),
      }),
      success: function (response) {
        getCommunity(0);
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          commentCreate();
        }
      }
    });
  }

  function commentDelete(commentId) {
    var accessToken = localStorage.getItem("accessToken");
    console.log("commentId : ", commentId);
    $.ajax({
      type: "DELETE",
      url: "http://localhost:8080/communities/comments/" + commentId,
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", accessToken);
      },
      contentType: "application/json; charset=utf-8",
      success: function (response) {
        getCommunity(0);
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          commentDelete(commentId);
        }
      },
    });
  }

  function deleteCommunityComment() {
    const id = localStorage.getItem("communityCommentId");
    const commentId = localStorage
    .getItem("communityBoardId")
    .getItem("communityCommentId");
    console.log("id : " + id);
    $.ajax({
      type: "DELETE",
      url: `http://localhost:8080/boards/communities/${id}`,
      // dataType: "text",
      contentType: "application/json; charset=utf-8",
      beforeSend: function (xlr) {
        xlr.setRequestHeader(
            "Authorization",
            localStorage.getItem("accessToken")
        );
      },
      success: function (response) {
        alert("삭제 완료");
        window.location.href = "h-1_communityMain.html";
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          deleteCommunityComment();
        }
      },
    });
  }

  function likeCommunity() {
    $.ajax({
      type: "POST",
      url: `http://localhost:8080/like/communities/${communityId}`,
      contentType: "application/json; charset=utf-8",
      beforeSend: function (xlr) {
        xlr.setRequestHeader(
            "Authorization",
            localStorage.getItem("accessToken")
        );
      },
      success: function (response) {
        getCommunity(0);
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          likeCommunity();
        }
      },
    });
  }

  function unlikeCommunity() {
    $.ajax({
      type: "DELETE",
      url: `http://localhost:8080/like/communities/${communityId}`,
      contentType: "application/json; charset=utf-8",
      beforeSend: function (xlr) {
        xlr.setRequestHeader(
            "Authorization",
            localStorage.getItem("accessToken")
        );
      },
      success: function (response) {
        getCommunity(0);
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          unlikeCommunity();
        }
      },
    });
  }

  function likeComment(isLike, commentId) {
    var accessToken = localStorage.getItem("accessToken");
    console.log("commentId : ", commentId)
    console.log("likeComment");
    if (isLike) {
      $.ajax({
        type: "DELETE",
        url: `http://localhost:8080/like/comments/${commentId}`,
        contentType: "application/json; charset=utf-8",
        beforeSend: function (xlr) {
          xlr.setRequestHeader("Authorization", accessToken);
        },
        success: function (response) {
          getCommunity(0);
        },
        error: function (response, status, error) {
          if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
            regenerateToken()
            likeComment(isLike, commentId);
          }
        },
      });
    } else {
      $.ajax({
        type: "POST",
        url: `http://localhost:8080/like/comments/${commentId}`,
        contentType: "application/json; charset=utf-8",
        beforeSend: function (xlr) {
          xlr.setRequestHeader("Authorization", accessToken);
        },
        success: function (response) {
          getCommunity(0);
        },
        error: function (response, status, error) {
          if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
            regenerateToken()
            console.log("isLike : ", isLike)
            likeComment(isLike, commentId);
          }
        },
      });
    }
  }

  function unlikeComment(commentId) {
    console.log("unlikeComment");
    $.ajax({
      type: "DELETE",
      url: `http://localhost:8080/like/comments/${commentId}`,
      contentType: "application/json; charset=utf-8",
      beforeSend: function (xlr) {
        xlr.setRequestHeader("Authorization", localStorage.getItem("accessToken"));
      },
      success: function (response) {
        getCommunity(0);
      },
      error: function (response, status, error) {
        if (response.responseJSON.message.substring(0, 11) == "JWT expired") {
          regenerateToken()
          unlikeComment(commentId);
        }
      },
    });
  }

  function regenerateToken() {
    var refreshToken = localStorage.getItem("refreshToken")

    $.ajax({
      type: "POST",
      url: "http://localhost:8080/auth/token/regenerate",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        refreshToken: refreshToken
      }),
      success: function (response) {
        localStorage.setItem('accessToken', response.accessToken)
        localStorage.setItem("refreshToken", response.refreshToken)
      }, error: function (response) {
        console.log("에러 : ", response)
      }
    })
  }

  function deleteBeforeRoomCheck() {
    $.ajax({
      type: "GET",
      url: "http://localhost:8080/chat/room?roomId=" + communityId,
      async: false,
      success: function (response) {
        if (response.userCount > 0) {
          alert("현재 채팅방에 접속된 유저가 있어 삭제가 불가능합니다.")
          return;
        } else {
          deleteChatRoom();
          deleteCommunity();
        }
      }
    })
  }

  function enterRoom() {
    $.ajax({
      type: "GET",
      url: "http://localhost:8080/chat/room?roomId=" + communityId,
      async: false,
      success: function () {
        window.open('./h-4_chat.html?roomId='+ communityId, 'name', "left=100,top=100,width=740,height=700")
      }
    })
  }

  function roomMemberCnt() {
    $.ajax({
      type: "GET",
      url: "http://localhost:8080/chat/room?roomId=" + communityId,
      async: false,
      success: function (response) {

        console.log(response);

        $(".crew").empty();

        if (response.maxUserCnt > 0) {
          let crew = `<div style="float: right; margin-left: 200px">크루 참여 인원 수 : <sapn style="color : #f46b3f"> ${response.userCount} </sapn> / <sapn>${response.maxUserCnt}</sapn></div>`;

          $(".crew").append(crew);

          $('#enterChat').click(function () {
            if (response.userCount == response.maxUserCnt) {
              window.alert("채팅방 정원이 초과되었습니다.");
              $("#enterChat").attr("disabled", true);
            } else {
              enterRoom();
            }
          });
        } else {
          $("#enterChat").attr("disabled", true);
        }
      }
    })
  }

  function deleteChatRoom() {
    $.ajax({
      type: "GET",
      url: "http://localhost:8080/chat/delRoom?roomId=" + communityId,
      async: false,
      success: function (response) {
        console.log("채팅방 삭제 성공");
      }
    })
  }

  function moveModifyPage() {
    window.location.href = "h-5_communityModify.html";
  }

  function moveMainPage() {
    window.location.href = "h-1_communityMain.html";
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>
