<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/menu.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="theme-color" content="#fafafa">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>

    </style>
    <title>관리자 회원관리</title>
</head>
<body>

<main>
    <div style="display: flex">
        <div style="width: 300px; height:100vh; padding-top: 100px; padding-left: 50px; background-color: #F46B3F">
            <div class="b_2" style="">
                <div class="b_2_1" style="font-size: 26px; color: white">
                    <span>이재원</span>
                    <span>매니저</span>
                </div>
                <button style="width: 84px; height: 36px; border-radius: 18px; border: 1px solid white; color: white; background-color:#F46B3F; margin-top: 10px; "
                        type="button" class="logout" onclick="">로그아웃</button>
            </div>
            <div class="b_5" style="margin-top: 100px">
                <a style="text-decoration: none; color: white;" href="./k-1_manageUser.html"><b>회원관리</b></a><br><br>
                <a style="text-decoration: none; color: white;" href="./l-1_manageRecommend.html">등산 추천 코스 관리</a><br><br>
                <a style="text-decoration: none; color: white;" href="./m-1_manageCommunity.html">커뮤니티 관리</a><br><br>
                <a style="text-decoration: none; color: white;" href="./n-1_manageNotice.html">공지사항 관리</a>
            </div>
        </div>
        <div class="w_2" style="margin:100px 0 0 100px;">
            <div>
                <div class="b_7">
                    <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 100px;">회원번호</th>
                        <th scope="col" style="width: 600px;">이메일</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">회원등급</th>
                        <th scope="col">휴대폰번호</th>
                        <th scope="col">가입날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a href="k-2_manageUserDetail.html">spartaCoding@naver.com</a></td>
                        <td>sparta</td>
                        <td>산신령</td>
                        <td>010-1234-1234</td>
                        <td>2023-02-13</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="b_8" style="margin-top: 40px">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    </div>
</main>
</body>
</html>